# Wolf for Nvidia
services:
  wolf:
    image: ghcr.io/games-on-whales/wolf:stable@sha256:034ba3364002740fd11e5835f23b72fcb058d84814d450aef9a2fc5cff619ba4
    container_name: wolf
    environment:
      XDG_RUNTIME_DIR: /tmp/sockets
      NVIDIA_DRIVER_VOLUME_NAME: "{{ wolf_nvidia_driver_volume_name }}"
      HOST_APPS_STATE_FOLDER: "{{ wolf_data_dir }}"
    volumes:
      # Used by other containers created by wolf. Do not change
      - "{{ wolf_data_dir }}:{{ wolf_data_dir }}:rw"
      - "{{ wolf_data_dir }}/cfg:{{ wolf_data_dir }}/cfg:rw"
      - "{{ wolf_project_dir }}/config.toml:{{ wolf_data_dir }}/cfg/config.toml"
      - /tmp/sockets:/tmp/sockets:rw
      - /var/run/docker.sock:/var/run/docker.sock:rw
      - /dev/:/dev/:rw
      - /run/udev:/run/udev:rw
      - nvidia-driver-vol:/usr/nvidia:rw
    devices:
      - /dev/dri
      - /dev/uinput
      # - /dev/uhid
      - /dev/nvidia-uvm
      - /dev/nvidia-uvm-tools
      - /dev/nvidia-caps/nvidia-cap1
      - /dev/nvidia-caps/nvidia-cap2
      - /dev/nvidiactl
      - /dev/nvidia0
      - /dev/nvidia-modeset
    device_cgroup_rules:
      - 'c 13:* rmw'
    network_mode: host
    restart: unless-stopped

volumes:
  # Volume populated with nvidia drivers 
  nvidia-driver-vol:
    external: true
    name: "{{ wolf_nvidia_driver_volume_name }}"