[Desktop Entry]
Version=1.0
Type=Application
Name=Exit to host
Comment=comment
Exec=/cloudy/bin/stop-container-user.sh
Icon=system-log-out
Path=
Terminal=false
StartupNotify=false