[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/cloudy/Desktop/exit.desktop]
row=0
col=0

[/home/cloudy/Desktop/keyboard-settings.desktop]
row=0
col=1

[/home/cloudy/Desktop/mouse-settings.desktop]
row=0
col=2

[/home/cloudy/Desktop/display-settings.desktop]
row=0
col=3

[/home/cloudy/Desktop/steam.desktop]
row=2
col=0