{
  "openapi": "3.0.3",
  "info": {
    "title": "Paperspace OpenAPI",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.paperspace.com/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "An API key or access token"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "An API key"
      }
    },
    "responses": {
      "error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "issues": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "message"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "message",
                "code"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    }
  },
  "externalDocs": {
    "url": "https://docs.paperspace.com/"
  },
  "paths": {
    "/machines": {
      "post": {
        "operationId": "machines-create",
        "summary": "Create a machine",
        "description": "Creates a new machine.",
        "tags": [
          "Machine"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The name of the new machine."
                  },
                  "machineType": {
                    "type": "string",
                    "description": "The machine type."
                  },
                  "templateId": {
                    "type": "string",
                    "description": "The template ID."
                  },
                  "networkId": {
                    "type": "string",
                    "description": "The network ID."
                  },
                  "diskSize": {
                    "type": "number",
                    "description": "The disk size in gigabytes."
                  },
                  "region": {
                    "type": "string",
                    "description": "The region to create the machine in."
                  },
                  "publicIpType": {
                    "type": "string",
                    "enum": [
                      "static",
                      "dynamic",
                      "none"
                    ],
                    "description": "The public IP type."
                  },
                  "autoSnapshotEnabled": {
                    "type": "boolean",
                    "description": "Whether to enable auto snapshots."
                  },
                  "autoSnapshotFrequency": {
                    "type": "string",
                    "enum": [
                      "hourly",
                      "daily",
                      "weekly",
                      "monthly"
                    ],
                    "description": "The auto snapshot frequency."
                  },
                  "autoSnapshotSaveCount": {
                    "type": "number",
                    "description": "The number of auto snapshots to save."
                  },
                  "autoShutdownEnabled": {
                    "type": "boolean",
                    "description": "Whether to enable auto shutdown."
                  },
                  "autoShutdownTimeout": {
                    "type": "number",
                    "description": "The auto shutdown timeout in hours."
                  },
                  "autoShutdownForce": {
                    "type": "boolean",
                    "description": "Whether to force shutdown the machine."
                  },
                  "takeInitialSnapshot": {
                    "type": "boolean",
                    "description": "Whether to take an initial snapshot."
                  },
                  "restorePointEnabled": {
                    "type": "boolean",
                    "description": "Whether to use initial snapshot as a restore point."
                  },
                  "restorePointFrequency": {
                    "type": "string",
                    "enum": [
                      "shutdown"
                    ],
                    "description": "The restore point frequency."
                  },
                  "startupScriptId": {
                    "type": "string",
                    "description": "The startup script ID."
                  },
                  "emailPassword": {
                    "type": "boolean",
                    "description": "Whether to email the password."
                  },
                  "startOnCreate": {
                    "type": "boolean",
                    "description": "Whether to start the machine on creation."
                  },
                  "enableNvlink": {
                    "type": "boolean",
                    "description": "Whether to enable NVLink."
                  },
                  "accessorIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The IDs of users to grant access to the machine."
                  }
                },
                "required": [
                  "name",
                  "machineType",
                  "templateId",
                  "diskSize",
                  "region"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of the event."
                        },
                        "name": {
                          "type": "string",
                          "enum": [
                            "bill-sessions",
                            "bill-upgrade",
                            "create",
                            "deactivate",
                            "restart",
                            "snapshot-create",
                            "snapshot-delete",
                            "snapshot-restore",
                            "start",
                            "stop",
                            "template-create",
                            "template-delete",
                            "template-distribute",
                            "template-import",
                            "vm-migrate",
                            "vm-shutdown-force",
                            "vm-upgrade"
                          ],
                          "description": "The name of the event, e.g. \"create\"."
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "new",
                            "in progress",
                            "done",
                            "error",
                            "cancelled"
                          ],
                          "description": "The state of the event, e.g. \"done\"."
                        },
                        "machineId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the machine the event is for."
                        },
                        "dtCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the event was created."
                        },
                        "dtStarted": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "The date the event was started."
                        },
                        "dtFinished": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "The date the event was finished."
                        },
                        "error": {
                          "type": "string",
                          "nullable": true,
                          "description": "The error message of the event, if any."
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "state",
                        "machineId",
                        "dtCreated",
                        "dtStarted",
                        "dtFinished",
                        "error"
                      ],
                      "additionalProperties": false,
                      "description": "The machine event to poll for the async operation."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of the machine."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the machine."
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "off",
                            "starting",
                            "stopping",
                            "restarting",
                            "serviceready",
                            "ready",
                            "upgrading",
                            "provisioning"
                          ],
                          "description": "The state of the machine."
                        },
                        "os": {
                          "type": "string",
                          "description": "The operating system of the machine."
                        },
                        "machineType": {
                          "type": "string",
                          "description": "The type of the machine."
                        },
                        "agentType": {
                          "type": "string",
                          "description": "The agent type of the machine."
                        },
                        "cpus": {
                          "type": "number",
                          "description": "The number of CPUs."
                        },
                        "ram": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The amount of RAM in bytes."
                        },
                        "storageTotal": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The total amount of storage."
                        },
                        "storageUsed": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The amount of storage used."
                        },
                        "accelerators": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the accelerator."
                              },
                              "memory": {
                                "type": "integer",
                                "nullable": true,
                                "description": "The amount of memory the accelerator has, if applicable."
                              },
                              "count": {
                                "type": "number",
                                "description": "The number of accelerators of this type."
                              }
                            },
                            "required": [
                              "name",
                              "memory",
                              "count"
                            ],
                            "additionalProperties": false
                          },
                          "description": "The accelerators of the machine.",
                          "nullable": true
                        },
                        "region": {
                          "type": "string",
                          "description": "The region of the machine."
                        },
                        "privateIp": {
                          "type": "string",
                          "nullable": true,
                          "description": "The private IP address of the machine."
                        },
                        "networkId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the network the machine is on."
                        },
                        "publicIp": {
                          "type": "string",
                          "nullable": true,
                          "description": "The public IP address of the machine."
                        },
                        "publicIpType": {
                          "type": "string",
                          "enum": [
                            "static",
                            "dynamic",
                            "none"
                          ],
                          "description": "The public IP type."
                        },
                        "autoShutdownEnabled": {
                          "type": "boolean",
                          "description": "Whether auto shutdown is enabled."
                        },
                        "autoShutdownTimeout": {
                          "type": "number",
                          "nullable": true,
                          "description": "The shutdown timeout of the machine in hours."
                        },
                        "autoShutdownForce": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "Whether to force shutdown the machine."
                        },
                        "autoSnapshotEnabled": {
                          "type": "boolean",
                          "description": "Whether auto snapshots are enabled."
                        },
                        "autoSnapshotFrequency": {
                          "type": "string",
                          "enum": [
                            "hourly",
                            "daily",
                            "weekly",
                            "monthly"
                          ],
                          "description": "The frequency of auto snapshots.",
                          "nullable": true
                        },
                        "autoSnapshotSaveCount": {
                          "type": "number",
                          "nullable": true,
                          "description": "The number of auto snapshots to save."
                        },
                        "updatesPending": {
                          "type": "boolean",
                          "description": "Whether updates are pending."
                        },
                        "restorePointEnabled": {
                          "type": "boolean",
                          "description": "Whether a restore point is enabled."
                        },
                        "restorePointFrequency": {
                          "type": "string",
                          "enum": [
                            "shutdown"
                          ],
                          "description": "The frequency of restore points.",
                          "nullable": true
                        },
                        "restorePointSnapshotId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the snapshot to use as a restore point."
                        },
                        "usageRate": {
                          "type": "number",
                          "description": "The usage rate of the machine."
                        },
                        "storageRate": {
                          "type": "number",
                          "description": "The storage rate of the machine."
                        },
                        "dtCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was created."
                        },
                        "dtModified": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was last modified."
                        },
                        "dtDeleted": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was deleted.",
                          "nullable": true
                        },
                        "reservation": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "minLength": 1
                            },
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "dtStarted": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "dtFinished": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "isActive": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "name",
                            "id",
                            "dtStarted",
                            "dtFinished",
                            "isActive"
                          ],
                          "additionalProperties": false,
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "state",
                        "os",
                        "machineType",
                        "agentType",
                        "cpus",
                        "ram",
                        "storageTotal",
                        "storageUsed",
                        "region",
                        "privateIp",
                        "networkId",
                        "publicIp",
                        "publicIpType",
                        "autoShutdownEnabled",
                        "autoShutdownTimeout",
                        "autoShutdownForce",
                        "autoSnapshotEnabled",
                        "autoSnapshotFrequency",
                        "autoSnapshotSaveCount",
                        "updatesPending",
                        "restorePointEnabled",
                        "restorePointFrequency",
                        "restorePointSnapshotId",
                        "usageRate",
                        "storageRate",
                        "dtCreated",
                        "dtModified",
                        "dtDeleted",
                        "reservation"
                      ],
                      "additionalProperties": false,
                      "description": "The machine."
                    }
                  },
                  "required": [
                    "event",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "get": {
        "operationId": "machines-list",
        "summary": "List machines",
        "description": "Fetches a list of machines.",
        "tags": [
          "Machine"
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Fetch the next page of results after this cursor."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 120
            },
            "description": "The number of items to fetch after this page."
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "dtCreated",
                "name",
                "state"
              ],
              "default": "dtCreated"
            },
            "description": "Order results by one of these fields."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "The order to sort the results by."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machineType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether there are more pages of results available."
                    },
                    "nextPage": {
                      "type": "string",
                      "description": "The cursor required to fetch the next page of results. i.e. `?after=nextPage`. This is `null` when there is no next page."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of the machine."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the machine."
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "off",
                              "starting",
                              "stopping",
                              "restarting",
                              "serviceready",
                              "ready",
                              "upgrading",
                              "provisioning"
                            ],
                            "description": "The state of the machine."
                          },
                          "os": {
                            "type": "string",
                            "description": "The operating system of the machine."
                          },
                          "machineType": {
                            "type": "string",
                            "description": "The type of the machine."
                          },
                          "agentType": {
                            "type": "string",
                            "description": "The agent type of the machine."
                          },
                          "cpus": {
                            "type": "number",
                            "description": "The number of CPUs."
                          },
                          "ram": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The amount of RAM in bytes."
                          },
                          "storageTotal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The total amount of storage."
                          },
                          "storageUsed": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The amount of storage used."
                          },
                          "accelerators": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name of the accelerator."
                                },
                                "memory": {
                                  "type": "integer",
                                  "nullable": true,
                                  "description": "The amount of memory the accelerator has, if applicable."
                                },
                                "count": {
                                  "type": "number",
                                  "description": "The number of accelerators of this type."
                                }
                              },
                              "required": [
                                "name",
                                "memory",
                                "count"
                              ],
                              "additionalProperties": false
                            },
                            "description": "The accelerators of the machine.",
                            "nullable": true
                          },
                          "region": {
                            "type": "string",
                            "description": "The region of the machine."
                          },
                          "privateIp": {
                            "type": "string",
                            "nullable": true,
                            "description": "The private IP address of the machine."
                          },
                          "networkId": {
                            "type": "string",
                            "nullable": true,
                            "description": "The ID of the network the machine is on."
                          },
                          "publicIp": {
                            "type": "string",
                            "nullable": true,
                            "description": "The public IP address of the machine."
                          },
                          "publicIpType": {
                            "type": "string",
                            "enum": [
                              "static",
                              "dynamic",
                              "none"
                            ],
                            "description": "The public IP type."
                          },
                          "autoShutdownEnabled": {
                            "type": "boolean",
                            "description": "Whether auto shutdown is enabled."
                          },
                          "autoShutdownTimeout": {
                            "type": "number",
                            "nullable": true,
                            "description": "The shutdown timeout of the machine in hours."
                          },
                          "autoShutdownForce": {
                            "type": "boolean",
                            "nullable": true,
                            "description": "Whether to force shutdown the machine."
                          },
                          "autoSnapshotEnabled": {
                            "type": "boolean",
                            "description": "Whether auto snapshots are enabled."
                          },
                          "autoSnapshotFrequency": {
                            "type": "string",
                            "enum": [
                              "hourly",
                              "daily",
                              "weekly",
                              "monthly"
                            ],
                            "description": "The frequency of auto snapshots.",
                            "nullable": true
                          },
                          "autoSnapshotSaveCount": {
                            "type": "number",
                            "nullable": true,
                            "description": "The number of auto snapshots to save."
                          },
                          "updatesPending": {
                            "type": "boolean",
                            "description": "Whether updates are pending."
                          },
                          "restorePointEnabled": {
                            "type": "boolean",
                            "description": "Whether a restore point is enabled."
                          },
                          "restorePointFrequency": {
                            "type": "string",
                            "enum": [
                              "shutdown"
                            ],
                            "description": "The frequency of restore points.",
                            "nullable": true
                          },
                          "restorePointSnapshotId": {
                            "type": "string",
                            "nullable": true,
                            "description": "The ID of the snapshot to use as a restore point."
                          },
                          "usageRate": {
                            "type": "number",
                            "description": "The usage rate of the machine."
                          },
                          "storageRate": {
                            "type": "number",
                            "description": "The storage rate of the machine."
                          },
                          "dtCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date the machine was created."
                          },
                          "dtModified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date the machine was last modified."
                          },
                          "dtDeleted": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date the machine was deleted.",
                            "nullable": true
                          },
                          "reservation": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "dtStarted": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "dtFinished": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "isActive": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "name",
                              "id",
                              "dtStarted",
                              "dtFinished",
                              "isActive"
                            ],
                            "additionalProperties": false,
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "state",
                          "os",
                          "machineType",
                          "agentType",
                          "cpus",
                          "ram",
                          "storageTotal",
                          "storageUsed",
                          "region",
                          "privateIp",
                          "networkId",
                          "publicIp",
                          "publicIpType",
                          "autoShutdownEnabled",
                          "autoShutdownTimeout",
                          "autoShutdownForce",
                          "autoSnapshotEnabled",
                          "autoSnapshotFrequency",
                          "autoSnapshotSaveCount",
                          "updatesPending",
                          "restorePointEnabled",
                          "restorePointFrequency",
                          "restorePointSnapshotId",
                          "usageRate",
                          "storageRate",
                          "dtCreated",
                          "dtModified",
                          "dtDeleted",
                          "reservation"
                        ],
                        "additionalProperties": false
                      },
                      "description": "The items on this page."
                    }
                  },
                  "required": [
                    "hasMore",
                    "items"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/machines/{id}": {
      "delete": {
        "operationId": "machines-delete",
        "summary": "Delete a machine",
        "description": "Deletes a single machine by ID.",
        "tags": [
          "Machine"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the machine to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of the event."
                        },
                        "name": {
                          "type": "string",
                          "enum": [
                            "bill-sessions",
                            "bill-upgrade",
                            "create",
                            "deactivate",
                            "restart",
                            "snapshot-create",
                            "snapshot-delete",
                            "snapshot-restore",
                            "start",
                            "stop",
                            "template-create",
                            "template-delete",
                            "template-distribute",
                            "template-import",
                            "vm-migrate",
                            "vm-shutdown-force",
                            "vm-upgrade"
                          ],
                          "description": "The name of the event, e.g. \"create\"."
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "new",
                            "in progress",
                            "done",
                            "error",
                            "cancelled"
                          ],
                          "description": "The state of the event, e.g. \"done\"."
                        },
                        "machineId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the machine the event is for."
                        },
                        "dtCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the event was created."
                        },
                        "dtStarted": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "The date the event was started."
                        },
                        "dtFinished": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "The date the event was finished."
                        },
                        "error": {
                          "type": "string",
                          "nullable": true,
                          "description": "The error message of the event, if any."
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "state",
                        "machineId",
                        "dtCreated",
                        "dtStarted",
                        "dtFinished",
                        "error"
                      ],
                      "additionalProperties": false,
                      "description": "The machine event to poll for the async operation."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of the machine."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the machine."
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "off",
                            "starting",
                            "stopping",
                            "restarting",
                            "serviceready",
                            "ready",
                            "upgrading",
                            "provisioning"
                          ],
                          "description": "The state of the machine."
                        },
                        "os": {
                          "type": "string",
                          "description": "The operating system of the machine."
                        },
                        "machineType": {
                          "type": "string",
                          "description": "The type of the machine."
                        },
                        "agentType": {
                          "type": "string",
                          "description": "The agent type of the machine."
                        },
                        "cpus": {
                          "type": "number",
                          "description": "The number of CPUs."
                        },
                        "ram": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The amount of RAM in bytes."
                        },
                        "storageTotal": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The total amount of storage."
                        },
                        "storageUsed": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The amount of storage used."
                        },
                        "accelerators": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the accelerator."
                              },
                              "memory": {
                                "type": "integer",
                                "nullable": true,
                                "description": "The amount of memory the accelerator has, if applicable."
                              },
                              "count": {
                                "type": "number",
                                "description": "The number of accelerators of this type."
                              }
                            },
                            "required": [
                              "name",
                              "memory",
                              "count"
                            ],
                            "additionalProperties": false
                          },
                          "description": "The accelerators of the machine.",
                          "nullable": true
                        },
                        "region": {
                          "type": "string",
                          "description": "The region of the machine."
                        },
                        "privateIp": {
                          "type": "string",
                          "nullable": true,
                          "description": "The private IP address of the machine."
                        },
                        "networkId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the network the machine is on."
                        },
                        "publicIp": {
                          "type": "string",
                          "nullable": true,
                          "description": "The public IP address of the machine."
                        },
                        "publicIpType": {
                          "type": "string",
                          "enum": [
                            "static",
                            "dynamic",
                            "none"
                          ],
                          "description": "The public IP type."
                        },
                        "autoShutdownEnabled": {
                          "type": "boolean",
                          "description": "Whether auto shutdown is enabled."
                        },
                        "autoShutdownTimeout": {
                          "type": "number",
                          "nullable": true,
                          "description": "The shutdown timeout of the machine in hours."
                        },
                        "autoShutdownForce": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "Whether to force shutdown the machine."
                        },
                        "autoSnapshotEnabled": {
                          "type": "boolean",
                          "description": "Whether auto snapshots are enabled."
                        },
                        "autoSnapshotFrequency": {
                          "type": "string",
                          "enum": [
                            "hourly",
                            "daily",
                            "weekly",
                            "monthly"
                          ],
                          "description": "The frequency of auto snapshots.",
                          "nullable": true
                        },
                        "autoSnapshotSaveCount": {
                          "type": "number",
                          "nullable": true,
                          "description": "The number of auto snapshots to save."
                        },
                        "updatesPending": {
                          "type": "boolean",
                          "description": "Whether updates are pending."
                        },
                        "restorePointEnabled": {
                          "type": "boolean",
                          "description": "Whether a restore point is enabled."
                        },
                        "restorePointFrequency": {
                          "type": "string",
                          "enum": [
                            "shutdown"
                          ],
                          "description": "The frequency of restore points.",
                          "nullable": true
                        },
                        "restorePointSnapshotId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the snapshot to use as a restore point."
                        },
                        "usageRate": {
                          "type": "number",
                          "description": "The usage rate of the machine."
                        },
                        "storageRate": {
                          "type": "number",
                          "description": "The storage rate of the machine."
                        },
                        "dtCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was created."
                        },
                        "dtModified": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was last modified."
                        },
                        "dtDeleted": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was deleted.",
                          "nullable": true
                        },
                        "reservation": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "minLength": 1
                            },
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "dtStarted": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "dtFinished": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "isActive": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "name",
                            "id",
                            "dtStarted",
                            "dtFinished",
                            "isActive"
                          ],
                          "additionalProperties": false,
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "state",
                        "os",
                        "machineType",
                        "agentType",
                        "cpus",
                        "ram",
                        "storageTotal",
                        "storageUsed",
                        "region",
                        "privateIp",
                        "networkId",
                        "publicIp",
                        "publicIpType",
                        "autoShutdownEnabled",
                        "autoShutdownTimeout",
                        "autoShutdownForce",
                        "autoSnapshotEnabled",
                        "autoSnapshotFrequency",
                        "autoSnapshotSaveCount",
                        "updatesPending",
                        "restorePointEnabled",
                        "restorePointFrequency",
                        "restorePointSnapshotId",
                        "usageRate",
                        "storageRate",
                        "dtCreated",
                        "dtModified",
                        "dtDeleted",
                        "reservation"
                      ],
                      "additionalProperties": false,
                      "description": "The machine."
                    }
                  },
                  "required": [
                    "event",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "get": {
        "operationId": "machines-get",
        "summary": "Get a machine",
        "description": "Fetches a single machine by ID.",
        "tags": [
          "Machine"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the machine to fetch."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the machine."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the machine."
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "off",
                        "starting",
                        "stopping",
                        "restarting",
                        "serviceready",
                        "ready",
                        "upgrading",
                        "provisioning"
                      ],
                      "description": "The state of the machine."
                    },
                    "os": {
                      "type": "string",
                      "description": "The operating system of the machine."
                    },
                    "machineType": {
                      "type": "string",
                      "description": "The type of the machine."
                    },
                    "agentType": {
                      "type": "string",
                      "description": "The agent type of the machine."
                    },
                    "cpus": {
                      "type": "number",
                      "description": "The number of CPUs."
                    },
                    "ram": {
                      "type": "integer",
                      "format": "int64",
                      "description": "The amount of RAM in bytes."
                    },
                    "storageTotal": {
                      "type": "integer",
                      "format": "int64",
                      "description": "The total amount of storage."
                    },
                    "storageUsed": {
                      "type": "integer",
                      "format": "int64",
                      "description": "The amount of storage used."
                    },
                    "accelerators": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the accelerator."
                          },
                          "memory": {
                            "type": "integer",
                            "nullable": true,
                            "description": "The amount of memory the accelerator has, if applicable."
                          },
                          "count": {
                            "type": "number",
                            "description": "The number of accelerators of this type."
                          }
                        },
                        "required": [
                          "name",
                          "memory",
                          "count"
                        ],
                        "additionalProperties": false
                      },
                      "description": "The accelerators of the machine.",
                      "nullable": true
                    },
                    "region": {
                      "type": "string",
                      "description": "The region of the machine."
                    },
                    "privateIp": {
                      "type": "string",
                      "nullable": true,
                      "description": "The private IP address of the machine."
                    },
                    "networkId": {
                      "type": "string",
                      "nullable": true,
                      "description": "The ID of the network the machine is on."
                    },
                    "publicIp": {
                      "type": "string",
                      "nullable": true,
                      "description": "The public IP address of the machine."
                    },
                    "publicIpType": {
                      "type": "string",
                      "enum": [
                        "static",
                        "dynamic",
                        "none"
                      ],
                      "description": "The public IP type."
                    },
                    "autoShutdownEnabled": {
                      "type": "boolean",
                      "description": "Whether auto shutdown is enabled."
                    },
                    "autoShutdownTimeout": {
                      "type": "number",
                      "nullable": true,
                      "description": "The shutdown timeout of the machine in hours."
                    },
                    "autoShutdownForce": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether to force shutdown the machine."
                    },
                    "autoSnapshotEnabled": {
                      "type": "boolean",
                      "description": "Whether auto snapshots are enabled."
                    },
                    "autoSnapshotFrequency": {
                      "type": "string",
                      "enum": [
                        "hourly",
                        "daily",
                        "weekly",
                        "monthly"
                      ],
                      "description": "The frequency of auto snapshots.",
                      "nullable": true
                    },
                    "autoSnapshotSaveCount": {
                      "type": "number",
                      "nullable": true,
                      "description": "The number of auto snapshots to save."
                    },
                    "updatesPending": {
                      "type": "boolean",
                      "description": "Whether updates are pending."
                    },
                    "restorePointEnabled": {
                      "type": "boolean",
                      "description": "Whether a restore point is enabled."
                    },
                    "restorePointFrequency": {
                      "type": "string",
                      "enum": [
                        "shutdown"
                      ],
                      "description": "The frequency of restore points.",
                      "nullable": true
                    },
                    "restorePointSnapshotId": {
                      "type": "string",
                      "nullable": true,
                      "description": "The ID of the snapshot to use as a restore point."
                    },
                    "usageRate": {
                      "type": "number",
                      "description": "The usage rate of the machine."
                    },
                    "storageRate": {
                      "type": "number",
                      "description": "The storage rate of the machine."
                    },
                    "dtCreated": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date the machine was created."
                    },
                    "dtModified": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date the machine was last modified."
                    },
                    "dtDeleted": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date the machine was deleted.",
                      "nullable": true
                    },
                    "reservation": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "dtStarted": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "dtFinished": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "isActive": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "name",
                        "id",
                        "dtStarted",
                        "dtFinished",
                        "isActive"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "state",
                    "os",
                    "machineType",
                    "agentType",
                    "cpus",
                    "ram",
                    "storageTotal",
                    "storageUsed",
                    "region",
                    "privateIp",
                    "networkId",
                    "publicIp",
                    "publicIpType",
                    "autoShutdownEnabled",
                    "autoShutdownTimeout",
                    "autoShutdownForce",
                    "autoSnapshotEnabled",
                    "autoSnapshotFrequency",
                    "autoSnapshotSaveCount",
                    "updatesPending",
                    "restorePointEnabled",
                    "restorePointFrequency",
                    "restorePointSnapshotId",
                    "usageRate",
                    "storageRate",
                    "dtCreated",
                    "dtModified",
                    "dtDeleted",
                    "reservation"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "put": {
        "operationId": "machines-update",
        "summary": "Update a machine",
        "description": "Updates a machine.",
        "tags": [
          "Machine"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the machine."
                  },
                  "machineType": {
                    "type": "string",
                    "description": "The machine type."
                  },
                  "diskSize": {
                    "type": "number",
                    "description": "The disk size in gigabytes."
                  },
                  "networkId": {
                    "type": "string",
                    "description": "The network ID."
                  },
                  "publicIpType": {
                    "type": "string",
                    "enum": [
                      "static",
                      "dynamic",
                      "none"
                    ],
                    "description": "The public IP type."
                  },
                  "autoSnapshotEnabled": {
                    "type": "boolean",
                    "description": "Whether to enable auto snapshots."
                  },
                  "autoSnapshotFrequency": {
                    "type": "string",
                    "enum": [
                      "hourly",
                      "daily",
                      "weekly",
                      "monthly"
                    ],
                    "description": "The auto snapshot frequency."
                  },
                  "autoSnapshotSaveCount": {
                    "type": "number",
                    "description": "The number of auto snapshots to save."
                  },
                  "autoShutdownEnabled": {
                    "type": "boolean",
                    "description": "Whether to enable auto shutdown."
                  },
                  "autoShutdownTimeout": {
                    "type": "number",
                    "description": "The auto shutdown timeout in hours."
                  },
                  "autoShutdownForce": {
                    "type": "boolean",
                    "description": "Whether to force shutdown the machine."
                  },
                  "restorePointEnabled": {
                    "type": "boolean",
                    "description": "Whether to use initial snapshot as a restore point."
                  },
                  "restorePointFrequency": {
                    "type": "string",
                    "enum": [
                      "shutdown"
                    ],
                    "description": "The restore point frequency."
                  },
                  "restorePointSnapshotId": {
                    "type": "string",
                    "description": "The restore point snapshot ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the machine to update."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of the event."
                        },
                        "name": {
                          "type": "string",
                          "enum": [
                            "bill-sessions",
                            "bill-upgrade",
                            "create",
                            "deactivate",
                            "restart",
                            "snapshot-create",
                            "snapshot-delete",
                            "snapshot-restore",
                            "start",
                            "stop",
                            "template-create",
                            "template-delete",
                            "template-distribute",
                            "template-import",
                            "vm-migrate",
                            "vm-shutdown-force",
                            "vm-upgrade"
                          ],
                          "description": "The name of the event, e.g. \"create\"."
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "new",
                            "in progress",
                            "done",
                            "error",
                            "cancelled"
                          ],
                          "description": "The state of the event, e.g. \"done\"."
                        },
                        "machineId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the machine the event is for."
                        },
                        "dtCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the event was created."
                        },
                        "dtStarted": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "The date the event was started."
                        },
                        "dtFinished": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "The date the event was finished."
                        },
                        "error": {
                          "type": "string",
                          "nullable": true,
                          "description": "The error message of the event, if any."
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "state",
                        "machineId",
                        "dtCreated",
                        "dtStarted",
                        "dtFinished",
                        "error"
                      ],
                      "additionalProperties": false,
                      "description": "The machine event to poll for the async operation."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of the machine."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the machine."
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "off",
                            "starting",
                            "stopping",
                            "restarting",
                            "serviceready",
                            "ready",
                            "upgrading",
                            "provisioning"
                          ],
                          "description": "The state of the machine."
                        },
                        "os": {
                          "type": "string",
                          "description": "The operating system of the machine."
                        },
                        "machineType": {
                          "type": "string",
                          "description": "The type of the machine."
                        },
                        "agentType": {
                          "type": "string",
                          "description": "The agent type of the machine."
                        },
                        "cpus": {
                          "type": "number",
                          "description": "The number of CPUs."
                        },
                        "ram": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The amount of RAM in bytes."
                        },
                        "storageTotal": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The total amount of storage."
                        },
                        "storageUsed": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The amount of storage used."
                        },
                        "accelerators": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the accelerator."
                              },
                              "memory": {
                                "type": "integer",
                                "nullable": true,
                                "description": "The amount of memory the accelerator has, if applicable."
                              },
                              "count": {
                                "type": "number",
                                "description": "The number of accelerators of this type."
                              }
                            },
                            "required": [
                              "name",
                              "memory",
                              "count"
                            ],
                            "additionalProperties": false
                          },
                          "description": "The accelerators of the machine.",
                          "nullable": true
                        },
                        "region": {
                          "type": "string",
                          "description": "The region of the machine."
                        },
                        "privateIp": {
                          "type": "string",
                          "nullable": true,
                          "description": "The private IP address of the machine."
                        },
                        "networkId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the network the machine is on."
                        },
                        "publicIp": {
                          "type": "string",
                          "nullable": true,
                          "description": "The public IP address of the machine."
                        },
                        "publicIpType": {
                          "type": "string",
                          "enum": [
                            "static",
                            "dynamic",
                            "none"
                          ],
                          "description": "The public IP type."
                        },
                        "autoShutdownEnabled": {
                          "type": "boolean",
                          "description": "Whether auto shutdown is enabled."
                        },
                        "autoShutdownTimeout": {
                          "type": "number",
                          "nullable": true,
                          "description": "The shutdown timeout of the machine in hours."
                        },
                        "autoShutdownForce": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "Whether to force shutdown the machine."
                        },
                        "autoSnapshotEnabled": {
                          "type": "boolean",
                          "description": "Whether auto snapshots are enabled."
                        },
                        "autoSnapshotFrequency": {
                          "type": "string",
                          "enum": [
                            "hourly",
                            "daily",
                            "weekly",
                            "monthly"
                          ],
                          "description": "The frequency of auto snapshots.",
                          "nullable": true
                        },
                        "autoSnapshotSaveCount": {
                          "type": "number",
                          "nullable": true,
                          "description": "The number of auto snapshots to save."
                        },
                        "updatesPending": {
                          "type": "boolean",
                          "description": "Whether updates are pending."
                        },
                        "restorePointEnabled": {
                          "type": "boolean",
                          "description": "Whether a restore point is enabled."
                        },
                        "restorePointFrequency": {
                          "type": "string",
                          "enum": [
                            "shutdown"
                          ],
                          "description": "The frequency of restore points.",
                          "nullable": true
                        },
                        "restorePointSnapshotId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the snapshot to use as a restore point."
                        },
                        "usageRate": {
                          "type": "number",
                          "description": "The usage rate of the machine."
                        },
                        "storageRate": {
                          "type": "number",
                          "description": "The storage rate of the machine."
                        },
                        "dtCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was created."
                        },
                        "dtModified": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was last modified."
                        },
                        "dtDeleted": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was deleted.",
                          "nullable": true
                        },
                        "reservation": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "minLength": 1
                            },
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "dtStarted": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "dtFinished": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "isActive": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "name",
                            "id",
                            "dtStarted",
                            "dtFinished",
                            "isActive"
                          ],
                          "additionalProperties": false,
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "state",
                        "os",
                        "machineType",
                        "agentType",
                        "cpus",
                        "ram",
                        "storageTotal",
                        "storageUsed",
                        "region",
                        "privateIp",
                        "networkId",
                        "publicIp",
                        "publicIpType",
                        "autoShutdownEnabled",
                        "autoShutdownTimeout",
                        "autoShutdownForce",
                        "autoSnapshotEnabled",
                        "autoSnapshotFrequency",
                        "autoSnapshotSaveCount",
                        "updatesPending",
                        "restorePointEnabled",
                        "restorePointFrequency",
                        "restorePointSnapshotId",
                        "usageRate",
                        "storageRate",
                        "dtCreated",
                        "dtModified",
                        "dtDeleted",
                        "reservation"
                      ],
                      "additionalProperties": false,
                      "description": "The machine."
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/machines/{id}/restart": {
      "patch": {
        "operationId": "machines-restart",
        "summary": "Restart a machine",
        "description": "Restarts a machine.",
        "tags": [
          "Machine",
          "Operations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the machine to restart."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of the event."
                        },
                        "name": {
                          "type": "string",
                          "enum": [
                            "bill-sessions",
                            "bill-upgrade",
                            "create",
                            "deactivate",
                            "restart",
                            "snapshot-create",
                            "snapshot-delete",
                            "snapshot-restore",
                            "start",
                            "stop",
                            "template-create",
                            "template-delete",
                            "template-distribute",
                            "template-import",
                            "vm-migrate",
                            "vm-shutdown-force",
                            "vm-upgrade"
                          ],
                          "description": "The name of the event, e.g. \"create\"."
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "new",
                            "in progress",
                            "done",
                            "error",
                            "cancelled"
                          ],
                          "description": "The state of the event, e.g. \"done\"."
                        },
                        "machineId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the machine the event is for."
                        },
                        "dtCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the event was created."
                        },
                        "dtStarted": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "The date the event was started."
                        },
                        "dtFinished": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "The date the event was finished."
                        },
                        "error": {
                          "type": "string",
                          "nullable": true,
                          "description": "The error message of the event, if any."
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "state",
                        "machineId",
                        "dtCreated",
                        "dtStarted",
                        "dtFinished",
                        "error"
                      ],
                      "additionalProperties": false,
                      "description": "The machine event to poll for the async operation."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of the machine."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the machine."
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "off",
                            "starting",
                            "stopping",
                            "restarting",
                            "serviceready",
                            "ready",
                            "upgrading",
                            "provisioning"
                          ],
                          "description": "The state of the machine."
                        },
                        "os": {
                          "type": "string",
                          "description": "The operating system of the machine."
                        },
                        "machineType": {
                          "type": "string",
                          "description": "The type of the machine."
                        },
                        "agentType": {
                          "type": "string",
                          "description": "The agent type of the machine."
                        },
                        "cpus": {
                          "type": "number",
                          "description": "The number of CPUs."
                        },
                        "ram": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The amount of RAM in bytes."
                        },
                        "storageTotal": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The total amount of storage."
                        },
                        "storageUsed": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The amount of storage used."
                        },
                        "accelerators": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the accelerator."
                              },
                              "memory": {
                                "type": "integer",
                                "nullable": true,
                                "description": "The amount of memory the accelerator has, if applicable."
                              },
                              "count": {
                                "type": "number",
                                "description": "The number of accelerators of this type."
                              }
                            },
                            "required": [
                              "name",
                              "memory",
                              "count"
                            ],
                            "additionalProperties": false
                          },
                          "description": "The accelerators of the machine.",
                          "nullable": true
                        },
                        "region": {
                          "type": "string",
                          "description": "The region of the machine."
                        },
                        "privateIp": {
                          "type": "string",
                          "nullable": true,
                          "description": "The private IP address of the machine."
                        },
                        "networkId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the network the machine is on."
                        },
                        "publicIp": {
                          "type": "string",
                          "nullable": true,
                          "description": "The public IP address of the machine."
                        },
                        "publicIpType": {
                          "type": "string",
                          "enum": [
                            "static",
                            "dynamic",
                            "none"
                          ],
                          "description": "The public IP type."
                        },
                        "autoShutdownEnabled": {
                          "type": "boolean",
                          "description": "Whether auto shutdown is enabled."
                        },
                        "autoShutdownTimeout": {
                          "type": "number",
                          "nullable": true,
                          "description": "The shutdown timeout of the machine in hours."
                        },
                        "autoShutdownForce": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "Whether to force shutdown the machine."
                        },
                        "autoSnapshotEnabled": {
                          "type": "boolean",
                          "description": "Whether auto snapshots are enabled."
                        },
                        "autoSnapshotFrequency": {
                          "type": "string",
                          "enum": [
                            "hourly",
                            "daily",
                            "weekly",
                            "monthly"
                          ],
                          "description": "The frequency of auto snapshots.",
                          "nullable": true
                        },
                        "autoSnapshotSaveCount": {
                          "type": "number",
                          "nullable": true,
                          "description": "The number of auto snapshots to save."
                        },
                        "updatesPending": {
                          "type": "boolean",
                          "description": "Whether updates are pending."
                        },
                        "restorePointEnabled": {
                          "type": "boolean",
                          "description": "Whether a restore point is enabled."
                        },
                        "restorePointFrequency": {
                          "type": "string",
                          "enum": [
                            "shutdown"
                          ],
                          "description": "The frequency of restore points.",
                          "nullable": true
                        },
                        "restorePointSnapshotId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the snapshot to use as a restore point."
                        },
                        "usageRate": {
                          "type": "number",
                          "description": "The usage rate of the machine."
                        },
                        "storageRate": {
                          "type": "number",
                          "description": "The storage rate of the machine."
                        },
                        "dtCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was created."
                        },
                        "dtModified": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was last modified."
                        },
                        "dtDeleted": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was deleted.",
                          "nullable": true
                        },
                        "reservation": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "minLength": 1
                            },
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "dtStarted": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "dtFinished": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "isActive": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "name",
                            "id",
                            "dtStarted",
                            "dtFinished",
                            "isActive"
                          ],
                          "additionalProperties": false,
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "state",
                        "os",
                        "machineType",
                        "agentType",
                        "cpus",
                        "ram",
                        "storageTotal",
                        "storageUsed",
                        "region",
                        "privateIp",
                        "networkId",
                        "publicIp",
                        "publicIpType",
                        "autoShutdownEnabled",
                        "autoShutdownTimeout",
                        "autoShutdownForce",
                        "autoSnapshotEnabled",
                        "autoSnapshotFrequency",
                        "autoSnapshotSaveCount",
                        "updatesPending",
                        "restorePointEnabled",
                        "restorePointFrequency",
                        "restorePointSnapshotId",
                        "usageRate",
                        "storageRate",
                        "dtCreated",
                        "dtModified",
                        "dtDeleted",
                        "reservation"
                      ],
                      "additionalProperties": false,
                      "description": "The machine."
                    }
                  },
                  "required": [
                    "event",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
[...]
