{"openapi":"3.0.3","info":{"title":"Paperspace OpenAPI","version":"1"},"servers":[{"url":"https://api.paperspace.com/v1"}],"paths":{"/apps":{"post":{"operationId":"apps-create","summary":"Create an app","description":"Create an app.","tags":["Apps"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"projectId":{"type":"string","description":"The ID of the project to create the deployment in."},"config":{"anyOf":[{"anyOf":[{"type":"object","properties":{"apiVersion":{"type":"string","enum":["v0alpha0"]},"command":{"type":"array","items":{"type":"string"}},"containerRegistry":{"type":"string"},"enabled":{"type":"boolean","default":true},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"image":{"type":"string"},"models":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"path":{"type":"string"}},"required":["id"],"additionalProperties":false}},"name":{"type":"string"},"port":{"type":"number","minimum":1,"maximum":65535,"default":80},"region":{"type":"string"},"repositories":{"type":"object","properties":{"mountPath":{"type":"string"},"dataset":{"type":"string"},"repositories":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"ref":{"type":"string"},"name":{"type":"string"},"username":{"type":"string"},"password":{"type":"string"}},"required":["url","name"],"additionalProperties":false}}},"required":["dataset","repositories"],"additionalProperties":false},"resources":{"type":"object","properties":{"instanceType":{"type":"string"},"replicas":{"type":"number","minimum":0,"default":1},"autoscaling":{"type":"object","properties":{"maxReplicas":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":25},"enabled":{"type":"boolean"},"metrics":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"metric":{"type":"string","enum":["requestDuration"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"number","exclusiveMinimum":true,"minimum":0.01,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false},{"type":"object","properties":{"metric":{"type":"string","enum":["cpu","memory"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false}]}}},"required":["maxReplicas","metrics"],"additionalProperties":false}},"required":["instanceType"],"additionalProperties":false}},"required":["apiVersion","image","name","resources"],"additionalProperties":false},{"type":"object","properties":{"apiVersion":{"type":"string","enum":["v0alpha1"]},"containerRegistry":{"type":"string"},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthchecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"image":{"type":"string"},"integrations":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["model"]},"id":{"type":"string"},"name":{"type":"string"},"path":{"type":"string","default":"/opt/models"}},"required":["type","id","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["s3"]},"url":{"type":"string","pattern":"^(s3:\\/\\/[a-zA-Z0-9_-]*\\/[a-zA-Z0-9_-]*)"},"path":{"type":"string"},"region":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","url"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["spaces"]},"path":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string","pattern":"^https:\\/\\/[a-z0-9-]+\\.([a-z0-9-]+)\\.digitaloceanspaces\\.com$"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","endpoint"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["volume"]},"name":{"type":"string"}},"required":["type","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["git-lfs"]},"url":{"type":"string","format":"uri"},"path":{"type":"string"}},"required":["name","type","url"],"additionalProperties":false}]}},"name":{"type":"string"},"region":{"type":"string"},"command":{"type":"array","items":{"type":"string"}},"enabled":{"type":"boolean","default":true},"resources":{"type":"object","properties":{"machineType":{"type":"string"},"replicas":{"type":"number","minimum":0,"default":1},"autoscaling":{"type":"object","properties":{"maxReplicas":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":25},"enabled":{"type":"boolean"},"metrics":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"metric":{"type":"string","enum":["requestDuration"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"number","exclusiveMinimum":true,"minimum":0.01,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false},{"type":"object","properties":{"metric":{"type":"string","enum":["cpu","memory"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false}]}}},"required":["maxReplicas","metrics"],"additionalProperties":false},"ports":{"type":"array","items":{"type":"number","minimum":1,"maximum":65535}}},"required":["machineType","ports"],"additionalProperties":false},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"basicAuthKey":{"type":"string"}},"required":["apiVersion","image","name","resources"],"additionalProperties":false}]},{"type":"object","properties":{"apiVersion":{"anyOf":[{"type":"string","enum":["v1"]},{"type":"string","enum":["latest"]}]},"containerRegistry":{"type":"string"},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthchecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"image":{"type":"string"},"integrations":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["model"]},"id":{"type":"string"},"name":{"type":"string"},"path":{"type":"string","default":"/opt/models"}},"required":["type","id","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["s3"]},"url":{"type":"string","pattern":"^(s3:\\/\\/[a-zA-Z0-9_-]*\\/[a-zA-Z0-9_-]*)"},"path":{"type":"string"},"region":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","url"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["spaces"]},"path":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string","pattern":"^https:\\/\\/[a-z0-9-]+\\.([a-z0-9-]+)\\.digitaloceanspaces\\.com$"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","endpoint"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["volume"]},"name":{"type":"string"}},"required":["type","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["git-lfs"]},"url":{"type":"string","format":"uri"},"path":{"type":"string"}},"required":["name","type","url"],"additionalProperties":false}]}},"name":{"type":"string"},"region":{"type":"string"},"command":{"type":"array","items":{"type":"string"}},"enabled":{"type":"boolean","default":true},"resources":{"type":"object","properties":{"machineType":{"type":"string"},"replicas":{"type":"number","minimum":0,"default":1},"autoscaling":{"type":"object","properties":{"maxReplicas":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":25},"enabled":{"type":"boolean"},"metrics":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"metric":{"type":"string","enum":["requestDuration"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"number","exclusiveMinimum":true,"minimum":0.01,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false},{"type":"object","properties":{"metric":{"type":"string","enum":["cpu","memory"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false}]}}},"required":["maxReplicas","metrics"],"additionalProperties":false},"ports":{"type":"array","items":{"type":"number","minimum":1,"maximum":65535}}},"required":["machineType","ports"],"additionalProperties":false},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"basicAuthKey":{"type":"string"}},"required":["apiVersion","image","name","resources"],"additionalProperties":false}],"description":"The new deployment configuration."}},"required":["projectId","config"],"additionalProperties":false}}}},"parameters":[],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the app"},"config":{"anyOf":[{"anyOf":[{"type":"object","properties":{"apiVersion":{"type":"string","enum":["v0alpha0"]},"command":{"type":"array","items":{"type":"string"}},"containerRegistry":{"type":"string"},"enabled":{"type":"boolean","default":true},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"image":{"type":"string"},"models":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"path":{"type":"string"}},"required":["id"],"additionalProperties":false}},"name":{"type":"string"},"port":{"type":"number","minimum":1,"maximum":65535,"default":80},"region":{"type":"string"},"repositories":{"type":"object","properties":{"mountPath":{"type":"string"},"dataset":{"type":"string"},"repositories":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"ref":{"type":"string"},"name":{"type":"string"},"username":{"type":"string"},"password":{"type":"string"}},"required":["url","name"],"additionalProperties":false}}},"required":["dataset","repositories"],"additionalProperties":false},"resources":{"type":"object","properties":{"instanceType":{"type":"string"},"replicas":{"type":"number","minimum":0,"default":1},"autoscaling":{"type":"object","properties":{"maxReplicas":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":25},"enabled":{"type":"boolean"},"metrics":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"metric":{"type":"string","enum":["requestDuration"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"number","exclusiveMinimum":true,"minimum":0.01,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false},{"type":"object","properties":{"metric":{"type":"string","enum":["cpu","memory"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false}]}}},"required":["maxReplicas","metrics"],"additionalProperties":false}},"required":["instanceType"],"additionalProperties":false}},"required":["apiVersion","image","name","resources"],"additionalProperties":false},{"type":"object","properties":{"apiVersion":{"type":"string","enum":["v0alpha1"]},"containerRegistry":{"type":"string"},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthchecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"image":{"type":"string"},"integrations":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["model"]},"id":{"type":"string"},"name":{"type":"string"},"path":{"type":"string","default":"/opt/models"}},"required":["type","id","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["s3"]},"url":{"type":"string","pattern":"^(s3:\\/\\/[a-zA-Z0-9_-]*\\/[a-zA-Z0-9_-]*)"},"path":{"type":"string"},"region":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","url"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["spaces"]},"path":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string","pattern":"^https:\\/\\/[a-z0-9-]+\\.([a-z0-9-]+)\\.digitaloceanspaces\\.com$"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","endpoint"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["volume"]},"name":{"type":"string"}},"required":["type","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["git-lfs"]},"url":{"type":"string","format":"uri"},"path":{"type":"string"}},"required":["name","type","url"],"additionalProperties":false}]}},"name":{"type":"string"},"region":{"type":"string"},"command":{"type":"array","items":{"type":"string"}},"enabled":{"type":"boolean","default":true},"resources":{"type":"object","properties":{"machineType":{"type":"string"},"replicas":{"type":"number","minimum":0,"default":1},"autoscaling":{"type":"object","properties":{"maxReplicas":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":25},"enabled":{"type":"boolean"},"metrics":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"metric":{"type":"string","enum":["requestDuration"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"number","exclusiveMinimum":true,"minimum":0.01,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false},{"type":"object","properties":{"metric":{"type":"string","enum":["cpu","memory"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false}]}}},"required":["maxReplicas","metrics"],"additionalProperties":false},"ports":{"type":"array","items":{"type":"number","minimum":1,"maximum":65535}}},"required":["machineType","ports"],"additionalProperties":false},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"basicAuthKey":{"type":"string"}},"required":["apiVersion","image","name","resources"],"additionalProperties":false}]},{"type":"object","properties":{"apiVersion":{"anyOf":[{"type":"string","enum":["v1"]},{"type":"string","enum":["latest"]}]},"containerRegistry":{"type":"string"},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthchecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"image":{"type":"string"},"integrations":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["model"]},"id":{"type":"string"},"name":{"type":"string"},"path":{"type":"string","default":"/opt/models"}},"required":["type","id","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["s3"]},"url":{"type":"string","pattern":"^(s3:\\/\\/[a-zA-Z0-9_-]*\\/[a-zA-Z0-9_-]*)"},"path":{"type":"string"},"region":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","url"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["spaces"]},"path":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string","pattern":"^https:\\/\\/[a-z0-9-]+\\.([a-z0-9-]+)\\.digitaloceanspaces\\.com$"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","endpoint"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["volume"]},"name":{"type":"string"}},"required":["type","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["git-lfs"]},"url":{"type":"string","format":"uri"},"path":{"type":"string"}},"required":["name","type","url"],"additionalProperties":false}]}},"name":{"type":"string"},"region":{"type":"string"},"command":{"type":"array","items":{"type":"string"}},"enabled":{"type":"boolean","default":true},"resources":{"type":"object","properties":{"machineType":{"type":"string"},"replicas":{"type":"number","minimum":0,"default":1},"autoscaling":{"type":"object","properties":{"maxReplicas":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":25},"enabled":{"type":"boolean"},"metrics":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"metric":{"type":"string","enum":["requestDuration"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"number","exclusiveMinimum":true,"minimum":0.01,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false},{"type":"object","properties":{"metric":{"type":"string","enum":["cpu","memory"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false}]}}},"required":["maxReplicas","metrics"],"additionalProperties":false},"ports":{"type":"array","items":{"type":"number","minimum":1,"maximum":65535}}},"required":["machineType","ports"],"additionalProperties":false},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"basicAuthKey":{"type":"string"}},"required":["apiVersion","image","name","resources"],"additionalProperties":false}],"description":"The new deployment configuration."}},"required":["id","config"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/apps/{id}/enable":{"patch":{"operationId":"apps-enable","summary":"Enable an app","description":"Enables an app that has been previously disabled. This will start the app and make it available to users.","tags":["Apps"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"description":"The ID of the app to enable"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the app"},"config":{"anyOf":[{"anyOf":[{"type":"object","properties":{"apiVersion":{"type":"string","enum":["v0alpha0"]},"command":{"type":"array","items":{"type":"string"}},"containerRegistry":{"type":"string"},"enabled":{"type":"boolean","default":true},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"image":{"type":"string"},"models":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"path":{"type":"string"}},"required":["id"],"additionalProperties":false}},"name":{"type":"string"},"port":{"type":"number","minimum":1,"maximum":65535,"default":80},"region":{"type":"string"},"repositories":{"type":"object","properties":{"mountPath":{"type":"string"},"dataset":{"type":"string"},"repositories":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"ref":{"type":"string"},"name":{"type":"string"},"username":{"type":"string"},"password":{"type":"string"}},"required":["url","name"],"additionalProperties":false}}},"required":["dataset","repositories"],"additionalProperties":false},"resources":{"type":"object","properties":{"instanceType":{"type":"string"},"replicas":{"type":"number","minimum":0,"default":1},"autoscaling":{"type":"object","properties":{"maxReplicas":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":25},"enabled":{"type":"boolean"},"metrics":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"metric":{"type":"string","enum":["requestDuration"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"number","exclusiveMinimum":true,"minimum":0.01,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false},{"type":"object","properties":{"metric":{"type":"string","enum":["cpu","memory"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false}]}}},"required":["maxReplicas","metrics"],"additionalProperties":false}},"required":["instanceType"],"additionalProperties":false}},"required":["apiVersion","image","name","resources"],"additionalProperties":false},{"type":"object","properties":{"apiVersion":{"type":"string","enum":["v0alpha1"]},"containerRegistry":{"type":"string"},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthchecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"image":{"type":"string"},"integrations":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["model"]},"id":{"type":"string"},"name":{"type":"string"},"path":{"type":"string","default":"/opt/models"}},"required":["type","id","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["s3"]},"url":{"type":"string","pattern":"^(s3:\\/\\/[a-zA-Z0-9_-]*\\/[a-zA-Z0-9_-]*)"},"path":{"type":"string"},"region":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","url"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["spaces"]},"path":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string","pattern":"^https:\\/\\/[a-z0-9-]+\\.([a-z0-9-]+)\\.digitaloceanspaces\\.com$"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","endpoint"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["volume"]},"name":{"type":"string"}},"required":["type","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["git-lfs"]},"url":{"type":"string","format":"uri"},"path":{"type":"string"}},"required":["name","type","url"],"additionalProperties":false}]}},"name":{"type":"string"},"region":{"type":"string"},"command":{"type":"array","items":{"type":"string"}},"enabled":{"type":"boolean","default":true},"resources":{"type":"object","properties":{"machineType":{"type":"string"},"replicas":{"type":"number","minimum":0,"default":1},"autoscaling":{"type":"object","properties":{"maxReplicas":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":25},"enabled":{"type":"boolean"},"metrics":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"metric":{"type":"string","enum":["requestDuration"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"number","exclusiveMinimum":true,"minimum":0.01,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false},{"type":"object","properties":{"metric":{"type":"string","enum":["cpu","memory"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false}]}}},"required":["maxReplicas","metrics"],"additionalProperties":false},"ports":{"type":"array","items":{"type":"number","minimum":1,"maximum":65535}}},"required":["machineType","ports"],"additionalProperties":false},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"basicAuthKey":{"type":"string"}},"required":["apiVersion","image","name","resources"],"additionalProperties":false}]},{"type":"object","properties":{"apiVersion":{"anyOf":[{"type":"string","enum":["v1"]},{"type":"string","enum":["latest"]}]},"containerRegistry":{"type":"string"},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthchecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"image":{"type":"string"},"integrations":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["model"]},"id":{"type":"string"},"name":{"type":"string"},"path":{"type":"string","default":"/opt/models"}},"required":["type","id","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["s3"]},"url":{"type":"string","pattern":"^(s3:\\/\\/[a-zA-Z0-9_-]*\\/[a-zA-Z0-9_-]*)"},"path":{"type":"string"},"region":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","url"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["spaces"]},"path":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string","pattern":"^https:\\/\\/[a-z0-9-]+\\.([a-z0-9-]+)\\.digitaloceanspaces\\.com$"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","endpoint"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["volume"]},"name":{"type":"string"}},"required":["type","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["git-lfs"]},"url":{"type":"string","format":"uri"},"path":{"type":"string"}},"required":["name","type","url"],"additionalProperties":false}]}},"name":{"type":"string"},"region":{"type":"string"},"command":{"type":"array","items":{"type":"string"}},"enabled":{"type":"boolean","default":true},"resources":{"type":"object","properties":{"machineType":{"type":"string"},"replicas":{"type":"number","minimum":0,"default":1},"autoscaling":{"type":"object","properties":{"maxReplicas":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":25},"enabled":{"type":"boolean"},"metrics":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"metric":{"type":"string","enum":["requestDuration"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"number","exclusiveMinimum":true,"minimum":0.01,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false},{"type":"object","properties":{"metric":{"type":"string","enum":["cpu","memory"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false}]}}},"required":["maxReplicas","metrics"],"additionalProperties":false},"ports":{"type":"array","items":{"type":"number","minimum":1,"maximum":65535}}},"required":["machineType","ports"],"additionalProperties":false},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"basicAuthKey":{"type":"string"}},"required":["apiVersion","image","name","resources"],"additionalProperties":false}],"description":"The new deployment configuration."}},"required":["id","config"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/apps/{id}/disable":{"patch":{"operationId":"apps-disable","summary":"Disable an app","description":"Disables an app that is currently enabled. This will stop the app's deployments and make it unavailable to users.","tags":["Apps"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"description":"The ID of the app to disable"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the app"},"config":{"anyOf":[{"anyOf":[{"type":"object","properties":{"apiVersion":{"type":"string","enum":["v0alpha0"]},"command":{"type":"array","items":{"type":"string"}},"containerRegistry":{"type":"string"},"enabled":{"type":"boolean","default":true},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"image":{"type":"string"},"models":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"path":{"type":"string"}},"required":["id"],"additionalProperties":false}},"name":{"type":"string"},"port":{"type":"number","minimum":1,"maximum":65535,"default":80},"region":{"type":"string"},"repositories":{"type":"object","properties":{"mountPath":{"type":"string"},"dataset":{"type":"string"},"repositories":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"ref":{"type":"string"},"name":{"type":"string"},"username":{"type":"string"},"password":{"type":"string"}},"required":["url","name"],"additionalProperties":false}}},"required":["dataset","repositories"],"additionalProperties":false},"resources":{"type":"object","properties":{"instanceType":{"type":"string"},"replicas":{"type":"number","minimum":0,"default":1},"autoscaling":{"type":"object","properties":{"maxReplicas":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":25},"enabled":{"type":"boolean"},"metrics":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"metric":{"type":"string","enum":["requestDuration"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"number","exclusiveMinimum":true,"minimum":0.01,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false},{"type":"object","properties":{"metric":{"type":"string","enum":["cpu","memory"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false}]}}},"required":["maxReplicas","metrics"],"additionalProperties":false}},"required":["instanceType"],"additionalProperties":false}},"required":["apiVersion","image","name","resources"],"additionalProperties":false},{"type":"object","properties":{"apiVersion":{"type":"string","enum":["v0alpha1"]},"containerRegistry":{"type":"string"},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthchecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"image":{"type":"string"},"integrations":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["model"]},"id":{"type":"string"},"name":{"type":"string"},"path":{"type":"string","default":"/opt/models"}},"required":["type","id","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["s3"]},"url":{"type":"string","pattern":"^(s3:\\/\\/[a-zA-Z0-9_-]*\\/[a-zA-Z0-9_-]*)"},"path":{"type":"string"},"region":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","url"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["spaces"]},"path":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string","pattern":"^https:\\/\\/[a-z0-9-]+\\.([a-z0-9-]+)\\.digitaloceanspaces\\.com$"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","endpoint"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["volume"]},"name":{"type":"string"}},"required":["type","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["git-lfs"]},"url":{"type":"string","format":"uri"},"path":{"type":"string"}},"required":["name","type","url"],"additionalProperties":false}]}},"name":{"type":"string"},"region":{"type":"string"},"command":{"type":"array","items":{"type":"string"}},"enabled":{"type":"boolean","default":true},"resources":{"type":"object","properties":{"machineType":{"type":"string"},"replicas":{"type":"number","minimum":0,"default":1},"autoscaling":{"type":"object","properties":{"maxReplicas":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":25},"enabled":{"type":"boolean"},"metrics":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"metric":{"type":"string","enum":["requestDuration"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"number","exclusiveMinimum":true,"minimum":0.01,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false},{"type":"object","properties":{"metric":{"type":"string","enum":["cpu","memory"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false}]}}},"required":["maxReplicas","metrics"],"additionalProperties":false},"ports":{"type":"array","items":{"type":"number","minimum":1,"maximum":65535}}},"required":["machineType","ports"],"additionalProperties":false},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"basicAuthKey":{"type":"string"}},"required":["apiVersion","image","name","resources"],"additionalProperties":false}]},{"type":"object","properties":{"apiVersion":{"anyOf":[{"type":"string","enum":["v1"]},{"type":"string","enum":["latest"]}]},"containerRegistry":{"type":"string"},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthchecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum
[...]
