{
  "openapi": "3.0.3",
  "info": {
    "title": "Paperspace OpenAPI",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.paperspace.com/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "An API key or access token"
      }
    },
    "responses": {
      "error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "details": {
                  "type": "object"
                }
              },
              "required": [
                "message",
                "code"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    }
  },
  "externalDocs": {
    "url": "https://docs.digitalocean.com/products/paperspace"
  },
  "paths": {
    "/auth/session": {
      "get": {
        "operationId": "auth-session",
        "summary": "Get the current session",
        "description": "Get the current session. If a user is not logged in, this will be null. Otherwise, it will contain the current team and user.",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "firstName": {
                          "type": "string",
                          "nullable": true,
                          "description": "The user's first name"
                        },
                        "lastName": {
                          "type": "string",
                          "nullable": true,
                          "description": "The user's last name"
                        },
                        "email": {
                          "type": "string",
                          "description": "The user's email address"
                        },
                        "dtCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the user was created"
                        },
                        "dtConfirmed": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "The date the account was confirmed"
                        },
                        "teamMemberships": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "team": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the team"
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "The ID of the team"
                                  },
                                  "namespace": {
                                    "type": "string",
                                    "description": "The namespace of the team"
                                  },
                                  "publicProfileImageUrl": {
                                    "type": "string",
                                    "nullable": true,
                                    "default": null,
                                    "description": "The URL of the team's profile image."
                                  },
                                  "isUserTeam": {
                                    "type": "boolean",
                                    "description": "Whether the team is the user's team"
                                  },
                                  "dtCreated": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The date the team was created"
                                  }
                                },
                                "required": [
                                  "name",
                                  "id",
                                  "namespace",
                                  "isUserTeam",
                                  "dtCreated"
                                ],
                                "additionalProperties": false,
                                "description": "The team the user is a member of"
                              },
                              "isOwner": {
                                "type": "boolean",
                                "description": "Whether the user is the owner of the team"
                              },
                              "isAdmin": {
                                "type": "boolean",
                                "description": "Whether the user is an admin of the team"
                              }
                            },
                            "required": [
                              "team",
                              "isOwner",
                              "isAdmin"
                            ],
                            "additionalProperties": false
                          },
                          "description": "The teams this user is a member of"
                        },
                        "isPhoneVerified": {
                          "type": "boolean",
                          "description": "Whether the user's phone number has been verified"
                        },
                        "isPasswordAuthEnabled": {
                          "type": "boolean",
                          "description": "Whether the user has a password set"
                        },
                        "isQrCodeBasedMfaEnabled": {
                          "type": "boolean",
                          "description": "Whether the user has a QR code based MFA enabled"
                        },
                        "isQrCodeBasedMfaConfirmed": {
                          "type": "boolean",
                          "description": "Whether the user has a QR code based MFA confirmed"
                        },
                        "preferences": {
                          "type": "object",
                          "properties": {
                            "defaultProduct": {
                              "type": "string",
                              "nullable": true
                            },
                            "defaultTeamId": {
                              "type": "string",
                              "nullable": true
                            },
                            "theme": {
                              "type": "string",
                              "enum": [
                                "light",
                                "dark"
                              ],
                              "nullable": true
                            },
                            "fontSize": {
                              "type": "number",
                              "nullable": true
                            },
                            "disableHotkeys": {
                              "type": "boolean",
                              "nullable": true
                            }
                          },
                          "additionalProperties": false,
                          "nullable": true,
                          "default": null,
                          "description": "The user's preferences"
                        },
                        "id": {
                          "type": "string",
                          "description": "A unique ID for the user"
                        },
                        "analyticsId": {
                          "type": "number",
                          "description": "An internal, numeric ID for the user"
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "tags": {
                              "type": "string",
                              "nullable": true,
                              "default": null,
                              "description": "Tags for the user"
                            },
                            "coreSurvey": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "string"
                              },
                              "nullable": true,
                              "default": null,
                              "description": "Core survey question-answer pairs"
                            },
                            "gradientSurvey": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "string"
                              },
                              "nullable": true,
                              "default": null,
                              "description": "Gradient survey question-answer pairs"
                            },
                            "graphcoreTermsAccepted": {
                              "type": "boolean",
                              "default": false,
                              "description": "Whether the user has accepted the Graphcore terms of service"
                            }
                          },
                          "additionalProperties": false,
                          "description": "Metadata about the user"
                        }
                      },
                      "required": [
                        "firstName",
                        "lastName",
                        "email",
                        "dtCreated",
                        "dtConfirmed",
                        "teamMemberships",
                        "isPhoneVerified",
                        "isPasswordAuthEnabled",
                        "isQrCodeBasedMfaEnabled",
                        "isQrCodeBasedMfaConfirmed",
                        "id",
                        "analyticsId",
                        "metadata"
                      ],
                      "additionalProperties": false
                    },
                    "team": {
                      "type": "object",
                      "properties": {
                        "namespace": {
                          "type": "string",
                          "description": "The namespace for the team"
                        },
                        "isPrivate": {
                          "type": "boolean",
                          "description": "Whether the team is private or not"
                        },
                        "maxMachines": {
                          "type": "number",
                          "description": "The maximum number of machines"
                        },
                        "id": {
                          "type": "string",
                          "description": "A unique ID for the team"
                        },
                        "analyticsId": {
                          "type": "number",
                          "description": "An internal, numeric ID for the team"
                        }
                      },
                      "required": [
                        "namespace",
                        "isPrivate",
                        "maxMachines",
                        "id",
                        "analyticsId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "user",
                    "team"
                  ],
                  "additionalProperties": false,
                  "nullable": true,
                  "description": "A session object containing the current team and user. If a user is not logged in, this will be null."
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/machines": {
      "post": {
        "operationId": "machines-create",
        "summary": "Create a machine",
        "description": "Creates a new machine.",
        "tags": [
          "Machine"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The name of the new machine."
                  },
                  "machineType": {
                    "type": "string",
                    "description": "The machine type. This must correspond to a machine type label as indicated in <a href='#operation/osTemplates-list'>List OS templates</a> or <a href='#operation/customTemplates-list'>List templates</a>."
                  },
                  "templateId": {
                    "type": "string",
                    "description": "The template ID. See <a href='#operation/osTemplates-list'>List OS templates</a> or <a href='#operation/customTemplates-list'>List templates</a>."
                  },
                  "networkId": {
                    "type": "string",
                    "description": "The network ID."
                  },
                  "diskSize": {
                    "anyOf": [
                      {
                        "type": "number",
                        "enum": [
                          50
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          100
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          250
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          500
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          1000
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          2000
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          4000
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          8000
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          12000
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          16000
                        ]
                      },
                      {
                        "type": "number",
                        "exclusiveMinimum": true,
                        "minimum": 0
                      }
                    ],
                    "description": "The disk size in gigabytes."
                  },
                  "region": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "ny2"
                        ]
                      },
                      {
                        "type": "string",
                        "enum": [
                          "ca1"
                        ]
                      },
                      {
                        "type": "string",
                        "enum": [
                          "ams1"
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "The region to create the machine in."
                  },
                  "publicIpType": {
                    "type": "string",
                    "enum": [
                      "static",
                      "dynamic",
                      "none"
                    ],
                    "description": "The public IP type."
                  },
                  "autoSnapshotEnabled": {
                    "type": "boolean",
                    "description": "Whether to enable auto snapshots."
                  },
                  "autoSnapshotFrequency": {
                    "type": "string",
                    "enum": [
                      "hourly",
                      "daily",
                      "weekly",
                      "monthly"
                    ],
                    "description": "The auto snapshot frequency."
                  },
                  "autoSnapshotSaveCount": {
                    "type": "number",
                    "description": "The number of auto snapshots to save."
                  },
                  "autoShutdownEnabled": {
                    "type": "boolean",
                    "description": "Whether to enable auto shutdown."
                  },
                  "autoShutdownTimeout": {
                    "type": "number",
                    "description": "The auto shutdown timeout in hours."
                  },
                  "autoShutdownForce": {
                    "type": "boolean",
                    "description": "Whether to force shutdown the machine."
                  },
                  "takeInitialSnapshot": {
                    "type": "boolean",
                    "description": "Whether to take an initial snapshot."
                  },
                  "restorePointEnabled": {
                    "type": "boolean",
                    "description": "Whether to use initial snapshot as a restore point."
                  },
                  "restorePointFrequency": {
                    "type": "string",
                    "enum": [
                      "shutdown"
                    ],
                    "description": "The restore point frequency."
                  },
                  "startupScriptId": {
                    "type": "string",
                    "description": "The startup script ID."
                  },
                  "emailPassword": {
                    "type": "boolean",
                    "description": "Whether to email the password.",
                    "default": true
                  },
                  "startOnCreate": {
                    "type": "boolean",
                    "description": "Whether to start the machine on creation."
                  },
                  "enableNvlink": {
                    "type": "boolean",
                    "description": "Whether to enable NVLink."
                  },
                  "accessorIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The IDs of users to grant access to the machine."
                  }
                },
                "required": [
                  "name",
                  "machineType",
                  "templateId",
                  "diskSize",
                  "region"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of the event."
                        },
                        "name": {
                          "type": "string",
                          "enum": [
                            "bill-sessions",
                            "bill-upgrade",
                            "create",
                            "deactivate",
                            "restart",
                            "snapshot-create",
                            "snapshot-delete",
                            "snapshot-restore",
                            "start",
                            "stop",
                            "template-create",
                            "template-delete",
                            "template-distribute",
                            "template-import",
                            "vm-migrate",
                            "vm-shutdown-force",
                            "vm-upgrade"
                          ],
                          "description": "The name of the event, e.g. \"create\"."
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "new",
                            "in progress",
                            "done",
                            "error",
                            "cancelled"
                          ],
                          "description": "The state of the event, e.g. \"done\"."
                        },
                        "machineId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the machine the event is for."
                        },
                        "dtCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the event was created."
                        },
                        "dtStarted": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "The date the event was started."
                        },
                        "dtFinished": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "The date the event was finished."
                        },
                        "error": {
                          "type": "string",
                          "nullable": true,
                          "description": "The error message of the event, if any."
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "state",
                        "machineId",
                        "dtCreated",
                        "dtStarted",
                        "dtFinished",
                        "error"
                      ],
                      "additionalProperties": false,
                      "description": "The machine event to poll for the async operation."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of the machine."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the machine."
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "off",
                            "starting",
                            "stopping",
                            "restarting",
                            "serviceready",
                            "ready",
                            "upgrading",
                            "provisioning"
                          ],
                          "description": "The state of the machine."
                        },
                        "os": {
                          "type": "string",
                          "description": "The operating system of the machine."
                        },
                        "machineType": {
                          "type": "string",
                          "description": "The type of the machine."
                        },
                        "agentType": {
                          "type": "string",
                          "description": "The agent type of the machine."
                        },
                        "cpus": {
                          "type": "number",
                          "description": "The number of CPUs."
                        },
                        "ram": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The amount of RAM in bytes."
                        },
                        "storageTotal": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The total amount of storage."
                        },
                        "storageUsed": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The amount of storage used."
                        },
                        "accelerators": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the accelerator."
                              },
                              "memory": {
                                "type": "integer",
                                "nullable": true,
                                "description": "The amount of memory the accelerator has, if applicable."
                              },
                              "count": {
                                "type": "number",
                                "description": "The number of accelerators of this type."
                              }
                            },
                            "required": [
                              "name",
                              "memory",
                              "count"
                            ],
                            "additionalProperties": false
                          },
                          "description": "The accelerators of the machine.",
                          "nullable": true
                        },
                        "region": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "ny2"
                              ]
                            },
                            {
                              "type": "string",
                              "enum": [
                                "ca1"
                              ]
                            },
                            {
                              "type": "string",
                              "enum": [
                                "ams1"
                              ]
                            },
                            {
                              "type": "string"
                            }
                          ],
                          "description": "The region of the machine."
                        },
                        "privateIp": {
                          "type": "string",
                          "nullable": true,
                          "description": "The private IP address of the machine."
                        },
                        "networkId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the network the machine is on."
                        },
                        "publicIp": {
                          "type": "string",
                          "nullable": true,
                          "description": "The public IP address of the machine."
                        },
                        "publicIpType": {
                          "type": "string",
                          "enum": [
                            "static",
                            "dynamic",
                            "none"
                          ],
                          "description": "The public IP type."
                        },
                        "autoShutdownEnabled": {
                          "type": "boolean",
                          "description": "Whether auto shutdown is enabled."
                        },
                        "autoShutdownTimeout": {
                          "type": "number",
                          "nullable": true,
                          "description": "The shutdown timeout of the machine in hours."
                        },
                        "autoShutdownForce": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "Whether to force shutdown the machine."
                        },
                        "autoSnapshotEnabled": {
                          "type": "boolean",
                          "description": "Whether auto snapshots are enabled."
                        },
                        "autoSnapshotFrequency": {
                          "type": "string",
                          "enum": [
                            "hourly",
                            "daily",
                            "weekly",
                            "monthly"
                          ],
                          "description": "The frequency of auto snapshots.",
                          "nullable": true
                        },
                        "autoSnapshotSaveCount": {
                          "type": "number",
                          "nullable": true,
                          "description": "The number of auto snapshots to save."
                        },
                        "updatesPending": {
                          "type": "boolean",
                          "description": "Whether updates are pending."
                        },
                        "restorePointEnabled": {
                          "type": "boolean",
                          "description": "Whether a restore point is enabled."
                        },
                        "restorePointFrequency": {
                          "type": "string",
                          "enum": [
                            "shutdown"
                          ],
                          "description": "The frequency of restore points.",
                          "nullable": true
                        },
                        "restorePointSnapshotId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the snapshot to use as a restore point."
                        },
                        "usageRate": {
                          "type": "number",
                          "description": "The usage rate of the machine."
                        },
                        "storageRate": {
                          "type": "number",
                          "description": "The storage rate of the machine."
                        },
                        "dtCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was created."
                        },
                        "dtModified": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was last modified."
                        },
                        "dtDeleted": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was deleted.",
                          "nullable": true
                        },
                        "reservation": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "minLength": 1
                            },
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "dtStarted": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "dtFinished": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "isActive": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "name",
                            "id",
                            "dtStarted",
                            "dtFinished",
                            "isActive"
                          ],
                          "additionalProperties": false,
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "state",
                        "os",
                        "machineType",
                        "agentType",
                        "cpus",
                        "ram",
                        "storageTotal",
                        "storageUsed",
                        "region",
                        "privateIp",
                        "networkId",
                        "publicIp",
                        "publicIpType",
                        "autoShutdownEnabled",
                        "autoShutdownTimeout",
                        "autoShutdownForce",
                        "autoSnapshotEnabled",
                        "autoSnapshotFrequency",
                        "autoSnapshotSaveCount",
                        "updatesPending",
                        "restorePointEnabled",
                        "restorePointFrequency",
                        "restorePointSnapshotId",
                        "usageRate",
                        "storageRate",
                        "dtCreated",
                        "dtModified",
                        "dtDeleted",
                        "reservation"
                      ],
                      "additionalProperties": false,
                      "description": "The machine."
                    }
                  },
                  "required": [
                    "event",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "get": {
        "operationId": "machines-list",
        "summary": "List machines",
        "description": "Fetches a list of machines.",
        "tags": [
          "Machine"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Fetch the next page of results after this cursor."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 120
            },
            "description": "The number of items to fetch after this page."
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "dtCreated",
                "name",
                "state"
              ],
              "default": "dtCreated"
            },
            "description": "Order results by one of these fields."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "The order to sort the results by."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "ny2"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "ca1"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "ams1"
                  ]
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "agentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machineType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether there are more pages of results available."
                    },
                    "nextPage": {
                      "type": "string",
                      "description": "The cursor required to fetch the next page of results. i.e. `?after=nextPage`. This is `null` when there is no next page."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of the machine."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the machine."
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "off",
                              "starting",
                              "stopping",
                              "restarting",
                              "serviceready",
                              "ready",
                              "upgrading",
                              "provisioning"
                            ],
                            "description": "The state of the machine."
                          },
                          "os": {
                            "type": "string",
                            "description": "The operating system of the machine."
                          },
                          "machineType": {
                            "type": "string",
                            "description": "The type of the machine."
                          },
                          "agentType": {
                            "type": "string",
                            "description": "The agent type of the machine."
                          },
                          "cpus": {
                            "type": "number",
                            "description": "The number of CPUs."
                          },
                          "ram": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The amount of RAM in bytes."
                          },
                          "storageTotal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The total amount of storage."
                          },
                          "storageUsed": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The amount of storage used."
                          },
                          "accelerators": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name of the accelerator."
                                },
                                "memory": {
                                  "type": "integer",
                                  "nullable": true,
                                  "description": "The amount of memory the accelerator has, if applicable."
                                },
                                "count": {
                                  "type": "number",
                                  "description": "The number of accelerators of this type."
                                }
                              },
                              "required": [
                                "name",
                                "memory",
                                "count"
                              ],
                              "additionalProperties": false
                            },
                            "description": "The accelerators of the machine.",
                            "nullable": true
                          },
                          "region": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "ny2"
                                ]
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "ca1"
                                ]
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "ams1"
                                ]
                              },
                              {
                                "type": "string"
                              }
                            ],
                            "description": "The region of the machine."
                          },
                          "privateIp": {
                            "type": "string",
                            "nullable": true,
                            "description": "The private IP address of the machine."
                          },
                          "networkId": {
                            "type": "string",
                            "nullable": true,
                            "description": "The ID of the network the machine is on."
                          },
                          "publicIp": {
                            "type": "string",
                            "nullable": true,
                            "description": "The public IP address of the machine."
                          },
                          "publicIpType": {
                            "type": "string",
                            "enum": [
                              "static",
                              "dynamic",
                              "none"
                            ],
                            "description": "The public IP type."
                          },
                          "autoShutdownEnabled": {
                            "type": "boolean",
                            "description": "Whether auto shutdown is enabled."
                          },
                          "autoShutdownTimeout": {
                            "type": "number",
                            "nullable": true,
                            "description": "The shutdown timeout of the machine in hours."
                          },
                          "autoShutdownForce": {
                            "type": "boolean",
                            "nullable": true,
                            "description": "Whether to force shutdown the machine."
                          },
                          "autoSnapshotEnabled": {
                            "type": "boolean",
                            "description": "Whether auto snapshots are enabled."
                          },
                          "autoSnapshotFrequency": {
                            "type": "string",
                            "enum": [
                              "hourly",
                              "daily",
                              "weekly",
                              "monthly"
                            ],
                            "description": "The frequency of auto snapshots.",
                            "nullable": true
                          },
                          "autoSnapshotSaveCount": {
                            "type": "number",
                            "nullable": true,
                            "description": "The number of auto snapshots to save."
                          },
                          "updatesPending": {
                            "type": "boolean",
                            "description": "Whether updates are pending."
                          },
                          "restorePointEnabled": {
                            "type": "boolean",
                            "description": "Whether a restore point is enabled."
                          },
                          "restorePointFrequency": {
                            "type": "string",
                            "enum": [
                              "shutdown"
                            ],
                            "description": "The frequency of restore points.",
                            "nullable": true
                          },
                          "restorePointSnapshotId": {
                            "type": "string",
                            "nullable": true,
                            "description": "The ID of the snapshot to use as a restore point."
                          },
                          "usageRate": {
                            "type": "number",
                            "description": "The usage rate of the machine."
                          },
                          "storageRate": {
                            "type": "number",
                            "description": "The storage rate of the machine."
                          },
                          "dtCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date the machine was created."
                          },
                          "dtModified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date the machine was last modified."
                          },
                          "dtDeleted": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date the machine was deleted.",
                            "nullable": true
                          },
                          "reservation": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "dtStarted": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "dtFinished": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "isActive": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "name",
                              "id",
                              "dtStarted",
                              "dtFinished",
                              "isActive"
                            ],
                            "additionalProperties": false,
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "state",
                          "os",
                          "machineType",
                          "agentType",
                          "cpus",
                          "ram",
                          "storageTotal",
                          "storageUsed",
                          "region",
                          "privateIp",
                          "networkId",
                          "publicIp",
                          "publicIpType",
                          "autoShutdownEnabled",
                          "autoShutdownTimeout",
                          "autoShutdownForce",
                          "autoSnapshotEnabled",
                          "autoSnapshotFrequency",
                          "autoSnapshotSaveCount",
                          "updatesPending",
                          "restorePointEnabled",
                          "restorePointFrequency",
                          "restorePointSnapshotId",
                          "usageRate",
                          "storageRate",
                          "dtCreated",
                          "dtModified",
                          "dtDeleted",
                          "reservation"
                        ],
                        "additionalProperties": false
                      },
                      "description": "The items on this page."
                    }
                  },
                  "required": [
                    "hasMore",
                    "items"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/machines/{id}": {
      "delete": {
        "operationId": "machines-delete",
        "summary": "Delete a machine",
        "description": "Deletes a single machine by ID.",
        "tags": [
          "Machine"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the machine to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of the event."
                        },
                        "name": {
                          "type": "string",
                          "enum": [
                            "bill-sessions",
                            "bill-upgrade",
                            "create",
                            "deactivate",
                            "restart",
                            "snapshot-create",
                            "snapshot-delete",
                            "snapshot-restore",
                            "start",
                            "stop",
                            "template-create",
                            "template-delete",
                            "template-distribute",
                            "template-import",
                            "vm-migrate",
                            "vm-shutdown-force",
                            "vm-upgrade"
                          ],
                          "description": "The name of the event, e.g. \"create\"."
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "new",
                            "in progress",
                            "done",
                            "error",
                            "cancelled"
                          ],
                          "description": "The state of the event, e.g. \"done\"."
                        },
                        "machineId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the machine the event is for."
                        },
                        "dtCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the event was created."
                        },
                        "dtStarted": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "The date the event was started."
                        },
                        "dtFinished": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "The date the event was finished."
                        },
                        "error": {
                          "type": "string",
                          "nullable": true,
                          "description": "The error message of the event, if any."
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "state",
                        "machineId",
                        "dtCreated",
                        "dtStarted",
                        "dtFinished",
                        "error"
                      ],
                      "additionalProperties": false,
                      "description": "The machine event to poll for the async operation."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of the machine."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the machine."
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "off",
                            "starting",
                            "stopping",
                            "restarting",
                            "serviceready",
                            "ready",
                            "upgrading",
                            "provisioning"
                          ],
                          "description": "The state of the machine."
                        },
                        "os": {
                          "type": "string",
                          "description": "The operating system of the machine."
                        },
                        "machineType": {
                          "type": "string",
                          "description": "The type of the machine."
                        },
                        "agentType": {
                          "type": "string",
                          "description": "The agent type of the machine."
                        },
                        "cpus": {
                          "type": "number",
                          "description": "The number of CPUs."
                        },
                        "ram": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The amount of RAM in bytes."
                        },
                        "storageTotal": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The total amount of storage."
                        },
                        "storageUsed": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The amount of storage used."
                        },
                        "accelerators": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the accelerator."
                              },
                              "memory": {
                                "type": "integer",
                                "nullable": true,
                                "description": "The amount of memory the accelerator has, if applicable."
                              },
                              "count": {
                                "type": "number",
                                "description": "The number of accelerators of this type."
                              }
                            },
                            "required": [
                              "name",
                              "memory",
                              "count"
                            ],
                            "additionalProperties": false
                          },
                          "description": "The accelerators of the machine.",
                          "nullable": true
                        },
                        "region": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "ny2"
                              ]
                            },
                            {
                              "type": "string",
                              "enum": [
                                "ca1"
                              ]
                            },
                            {
                              "type": "string",
                              "enum": [
                                "ams1"
                              ]
                            },
                            {
                              "type": "string"
                            }
                          ],
                          "description": "The region of the machine."
                        },
                        "privateIp": {
                          "type": "string",
                          "nullable": true,
                          "description": "The private IP address of the machine."
                        },
                        "networkId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the network the machine is on."
                        },
                        "publicIp": {
                          "type": "string",
                          "nullable": true,
                          "description": "The public IP address of the machine."
                        },
                        "publicIpType": {
                          "type": "string",
                          "enum": [
                            "static",
                            "dynamic",
                            "none"
                          ],
                          "description": "The public IP type."
                        },
                        "autoShutdownEnabled": {
                          "type": "boolean",
                          "description": "Whether auto shutdown is enabled."
                        },
                        "autoShutdownTimeout": {
                          "type": "number",
                          "nullable": true,
                          "description": "The shutdown timeout of the machine in hours."
                        },
                        "autoShutdownForce": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "Whether to force shutdown the machine."
                        },
                        "autoSnapshotEnabled": {
                          "type": "boolean",
                          "description": "Whether auto snapshots are enabled."
                        },
                        "autoSnapshotFrequency": {
                          "type": "string",
                          "enum": [
                            "hourly",
                            "daily",
                            "weekly",
                            "monthly"
                          ],
                          "description": "The frequency of auto snapshots.",
                          "nullable": true
                        },
                        "autoSnapshotSaveCount": {
                          "type": "number",
                          "nullable": true,
                          "description": "The number of auto snapshots to save."
                        },
                        "updatesPending": {
                          "type": "boolean",
                          "description": "Whether updates are pending."
                        },
                        "restorePointEnabled": {
                          "type": "boolean",
                          "description": "Whether a restore point is enabled."
                        },
                        "restorePointFrequency": {
                          "type": "string",
                          "enum": [
                            "shutdown"
                          ],
                          "description": "The frequency of restore points.",
                          "nullable": true
                        },
                        "restorePointSnapshotId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the snapshot to use as a restore point."
                        },
                        "usageRate": {
                          "type": "number",
                          "description": "The usage rate of the machine."
                        },
                        "storageRate": {
                          "type": "number",
                          "description": "The storage rate of the machine."
                        },
                        "dtCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was created."
                        },
                        "dtModified": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was last modified."
                        },
                        "dtDeleted": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the machine was deleted.",
                          "nullable": true
                        },
                        "reservation": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "minLength": 1
                            },
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "dtStarted": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "dtFinished": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "isActive": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "name",
                            "id",
                            "dtStarted",
                            "dtFinished",
                            "isActive"
                          ],
                          "additionalProperties": false,
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "state",
                        "os",
                        "machineType",
                        "agentType",
                        "cpus",
                        "ram",
                        "storageTotal",
                        "storageUsed",
                        "region",
                        "privateIp",
                        "networkId",
                        "publicIp",
                        "publicIpType",
                        "autoShutdownEnabled",
                        "autoShutdownTimeout",
                        "autoShutdownForce",
                        "autoSnapshotEnabled",
                        "autoSnapshotFrequency",
                        "autoSnapshotSaveCount",
                        "updatesPending",
                        "restorePointEnabled",
                        "restorePointFrequency",
                        "restorePointSnapshotId",
                        "usageRate",
                        "storageRate",
                        "dtCreated",
                        "dtModified",
                        "dtDeleted",
                        "reservation"
                      ],
                      "additionalProperties": false,
                      "description": "The machine."
                    }
                  },
                  "required": [
                    "event",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "get": {
        "operationId": "machines-get",
        "summary": "Get a machine",
        "description": "Fetches a single machine by ID.",
        "tags": [
          "Machine"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the machine to fetch."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the machine."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the machine."
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "off",
                        "starting",
                        "stopping",
                        "restarting",
                        "serviceready",
                        "ready",
                        "upgrading",
                        "provisioning"
                      ],
                      "description": "The state of the machine."
                    },
                    "os": {
                      "type": "string",
                      "description": "The operating system of the machine."
                    },
                    "machineType": {
                      "type": "string",
                      "description": "The type of the machine."
                    },
                    "agentType": {
                      "type": "string",
                      "description": "The agent type of the machine."
                    },
                    "cpus": {
                      "type": "number",
                      "description": "The number of CPUs."
                    },
                    "ram": {
                      "type": "integer",
                      "format": "int64",
                      "description": "The amount of RAM in bytes."
                    },
                    "storageTotal": {
                      "type": "integer",
                      "format": "int64",
                      "description": "The total amount of storage."
                    },
                    "storageUsed": {
                      "type": "integer",
                      "format": "int64",
                      "description": "The amount of storage used."
                    },
                    "accelerators": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the accelerator."
                          },
                          "memory": {
                            "type": "integer",
                            "nullable": true,
                            "description": "The amount of memory the accelerator has, if applicable."
                          },
                          "count": {
                            "type": "number",
                            "description": "The number of accelerators of this type."
                          }
                        },
                        "required": [
                          "name",
                          "memory",
                          "count"
                        ],
                        "additionalProperties": false
                      },
                      "description": "The accelerators of the machine.",
                      "nullable": true
                    },
                    "region": {
                      "anyOf": [
                        {
                          "type": "string",
                          "enum": [
                            "ny2"
                          ]
                        },
                        {
                          "type": "string",
                          "enum": [
                            "ca1"
                          ]
                        },
                        {
                          "type": "string",
                          "enum": [
                            "ams1"
                          ]
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "The region of the machine."
                    },
                    "privateIp": {
                      "type": "string",
                      "nullable": true,
                      "description": "The private IP address of the machine."
                    },
                    "networkId": {
                      "type": "string",
                      "nullable": true,
                      "description": "The ID of the network the machine is on."
                    },
                    "publicIp": {
                      "type": "string",
                      "nullable": true,
                      "description": "The public IP address of the machine."
                    },
                    "publicIpType": {
                      "type": "string",
                      "enum": [
                        "static",
                        "dynamic",
                        "none"
                      ],
                      "description": "The public IP type."
                    },
                    "autoShutdownEnabled": {
                      "type": "boolean",
                      "description": "Whether auto shutdown is enabled."
                    },
                    "autoShutdownTimeout": {
                      "type": "number",
                      "nullable": true,
                      "description": "The shutdown timeout of the machine in hours."
                    },
                    "autoShutdownForce": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether to force shutdown the machine."
                    },
                    "autoSnapshotEnabled": {
                      "type": "boolean",
                      "description": "Whether auto snapshots are enabled."
                    },
                    "autoSnapshotFrequency": {
                      "type": "string",
                      "enum": [
                        "hourly",
                        "daily",
                        "weekly",
                        "monthly"
                      ],
                      "description": "The frequency of auto snapshots.",
                      "nullable": true
                    },
                    "autoSnapshotSaveCount": {
                      "type": "number",
                      "nullable": true,
                      "description": "The number of auto snapshots to save."
                    },
                    "updatesPending": {
                      "type": "boolean",
                      "description": "Whether updates are pending."
                    },
                    "restorePointEnabled": {
                      "type": "boolean",
                      "description": "Whether a restore point is enabled."
                    },
                    "restorePointFrequency": {
                      "type": "string",
                      "enum": [
                        "shutdown"
                      ],
                      "description": "The frequency of restore points.",
                      "nullable": true
                    },
                    "restorePointSnapshotId": {
                      "type": "string",
                      "nullable": true,
                      "description": "The ID of the snapshot to use as a restore point."
                    },
                    "usageRate": {
                      "type": "number",
                      "description": "The usage rate of the machine."
                    },
                    "storageRate": {
                      "type": "number",
                      "description": "The storage rate of the machine."
                    },
                    "dtCreated": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date the machine was created."
                    },
                    "dtModified": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date the machine was last modified."
                    },
                    "dtDeleted": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date the machine was deleted.",
                      "nullable": true
                    },
                    "reservation": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "dtStarted": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "dtFinished": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "isActive": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "name",
                        "id",
                        "dtStarted",
                        "dtFinished",
                        "isActive"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "state",
                    "os",
                    "machineType",
                    "agentType",
                    "cpus",
                    "ram",
                    "storageTotal",
                    "storageUsed",
                    "region",
                    "privateIp",
                    "networkId",
                    "publicIp",
                    "publicIpType",
                    "autoShutdownEnabled",
                    "autoShutdownTimeout",
                    "autoShutdownForce",
                    "autoSnapshotEnabled",
                    "autoSnapshotFrequency",
                    "autoSnapshotSaveCount",
                    "updatesPending",
                    "restorePointEnabled",
                    "restorePointFrequency",
                    "restorePointSnapshotId",
                    "usageRate",
                    "storageRate",
                    "dtCreated",
                    "dtModified",
                    "dtDeleted",
                    "reservation"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "put": {
        "operationId": "machines-update",
        "summary": "Update a machine",
        "description": "Updates a machine.",
        "tags": [
          "Machine"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the machine."
                  },
                  "machineType": {
                    "type": "string",
                    "description": "The machine type. This must correspond to a machine type label as indicated in <a href='#operation/osTemplates-list'>List OS templates</a> or <a href='#operation/customTemplates-list'>List templates</a>."
                  },
                  "diskSize": {
                    "anyOf": [
                      {
                        "type": "number",
                        "enum": [
                          50
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          100
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          250
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          500
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          1000
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          2000
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          4000
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          8000
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          12000
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          16000
                        ]
                      },
                      {
                        "type": "number",
                        "exclusiveMinimum": true,
                        "minimum": 0
                      }
                    ],
                    "description": "The disk size in gigabytes."
                  },
                  "networkId": {
                    "type": "string",
                    "description": "The network ID."
                  },
                  "publicIpType": {
                    "type": "string",
                    "enum": [
                      "static",
                      "dynamic",
                      "none"
                    ],
                    "description": "The public IP type."
                  },
                  "autoSnapshotEnabled": {
                    "type": "boolean",
                    "description": "Whether to enable auto snapshots."
                  },
                  "autoSnapshotFrequency": {
                    "type": "string",
                    "enum": [
                      "hourly",
                      "daily",
                      "weekly",
                      "monthly"
                    ],
                    "description": "The auto snapshot frequency."
                  },
                  "autoSnapshotSaveCount": {
                    "type": "number",
                    "description": "The number of auto snapshots to save."
                  },
                  "autoShutdownEnabled": {
                    "type": "boolean",
                    "description": "Whether to enable auto shutdown."
                  },
                  "autoShutdownTimeout": {
                    "type": "number",
                    "description": "The auto shutdown timeout in hours."
                  },
                  "autoShutdownForce": {
                    "type": "boolean",
                    "description": "Whether to force shutdown the machine."
                  },
                  "restorePointEnabled": {
                    "type": "boolean",
                    "description": "Whether to use initial snapshot as a restore point."
                  },
                  "restorePointFrequency": {
                    "type": "string",
                    "enum": [
                      "shutdown"
                    ],
                    "description": "The restore point frequency."
                  },
                  "restorePointSnapshotId": {
                    "type": "string",
                    "description": "The restore point snapshot ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the machine to update."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of the event."
                        },
                        "name": {
                          "type": "string",
                          "enum": [
                            "bill-sessions",
                            "bill-upgrade",
                            "create",
                            "deactivate",
                            "restart",
                            "snapshot-create",
                            "snapshot-delete",
                            "snapshot-restore",
                            "start",
                            "stop",
                            "template-create",
                            "template-delete",
                            "template-distribute",
                            "template-import",
                            "vm-migrate",
                            "vm-shutdown-force",
                            "vm-upgrade"
                          ],
                          "description": "The name of the event, e.g. \"create\"."
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "new",
                            "in progress",
                            "done",
                            "error",
                            "cancelled"
                          ],
                          "description": "The state of the event, e.g. \"done\"."
                        },
                        "machineId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the machine the event is for."
                        },
                        "dtCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date the event was created."
                        },
                        "dtStarted": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "The date the event was started."
                        },
                        "dtFinished": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "The date the event was finished."
                        },
                        "error": {
                          "type": "string",
                          "nullable": true,
                          "description": "The error message of the event, if any."
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "state",
                        "machineId",
                        "dtCreated",
                        "dtStarted",
                        "dtFinished",
                        "error"
                      ],
                      "additionalProperties": false,
                      "description": "The machine event to poll for the async operation."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of the machine."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the machine."
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "off",
                            "starting",
                            "stopping",
                            "restarting",
                            "serviceready",
                            "ready",
                            "upgrading",
                            "provisioning"
                          ],
                          "description": "The state of the machine."
                        },
                        "os": {
                          "type": "string",
                          "description": "The operating system of the machine."
                        },
                        "machineType": {
                          "type": "string",
                          "description": "The type of the machine."
                        },
                        "agentType": {
                          "type": "string",
                          "description": "The agent type of the machine."
                        },
                        "cpus": {
                          "type": "number",
                          "description": "The number of CPUs."
                        },
                        "ram": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The amount of RAM in bytes."
                        },
                        "storageTotal": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The total amount of storage."
                        },
                        "storageUsed": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The amount of storage used."
                        },
                        "accelerators": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the accelerator."
                              },
                              "memory": {
                                "type": "integer",
                                "nullable": true,
                                "description": "The amount of memory the accelerator has, if applicable."
                              },
                              "count": {
                                "type": "number",
                                "description": "The number of accelerators of this type."
                              }
                            },
                            "required": [
                              "name",
                              "memory",
                              "count"
                            ],
                            "additionalProperties": false
                          },
                          "description": "The accelerators of the machine.",
                          "nullable": true
                        },
                        "region": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "ny2"
                              ]
                            },
                            {
                              "type": "string",
                              "enum": [
                                "ca1"
                              ]
                            },
                            {
                              "type": "string",
                              "enum": [
                                "ams1"
                              ]
                            },
                            {
                              "type": "string"
                            }
                          ],
                          "description": "The region of the machine."
                        },
                        "privateIp": {
                          "type": "string",
                          "nullable": true,
                          "description": "The private IP address of the machine."
                        },
                        "networkId": {
                          "type": "string",
                          "nullable": true,
                          "description": "The ID of the network the machine is on."
                        },
                        "publicIp": {
                          "type": "string",
                          "nullable": true,
                          "description": "The public IP address of the machine."
                        },
                        "publicIpType": {
                          "type": "string",
                          "enum": [
                            "static",
                            "dynamic",
                            "none"
                          ],
                          "description": "The public IP type."
                        },
                        "autoShutdownEnabled": {
                          "type": "boolean",
                          "description": "Whether auto shutdown is enabled."
                        },
                        "autoShutdownTimeout": {
                          "type": "number",
                          "nullable": true,
                          "description": "The shutdown timeout of the machine in hours."
                        },
                        "autoShutdownForce": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "Whether to force shutdown the machine."
                        },
                        "autoSnapshotEnabled": {
                          "type": "boolean",
                          "description": "Whether auto snapshots are enabled."
                        },
                        "autoSnapshotFrequency": {
                          "type": "string",
                          "enum": [
                            "hourly",
                            "daily",
                            "weekly",
                            "monthly"
                          ],
[...]
