{"openapi":"3.0.3","info":{"title":"Paperspace OpenAPI","version":"1"},"servers":[{"url":"https://api.paperspace.com/v1"}],"paths":{"/auth/session":{"get":{"operationId":"auth-session","summary":"Get the current session","description":"Get the current session. If a user is not logged in, this will be null. Otherwise, it will contain the current team and user.","tags":["Authentication"],"security":[{"BearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"user":{"type":"object","properties":{"firstName":{"type":"string","nullable":true,"description":"The user's first name"},"lastName":{"type":"string","nullable":true,"description":"The user's last name"},"email":{"type":"string","description":"The user's email address"},"dtCreated":{"type":"string","format":"date-time","description":"The date the user was created"},"dtConfirmed":{"type":"string","format":"date-time","nullable":true,"description":"The date the account was confirmed"},"teamMemberships":{"type":"array","items":{"type":"object","properties":{"team":{"type":"object","properties":{"name":{"type":"string","description":"The name of the team"},"id":{"type":"string","description":"The ID of the team"},"namespace":{"type":"string","description":"The namespace of the team"},"publicProfileImageUrl":{"type":"string","nullable":true,"default":null,"description":"The URL of the team's profile image."},"isUserTeam":{"type":"boolean","description":"Whether the team is the user's team"},"dtCreated":{"type":"string","format":"date-time","description":"The date the team was created"}},"required":["name","id","namespace","isUserTeam","dtCreated"],"additionalProperties":false,"description":"The team the user is a member of"},"isOwner":{"type":"boolean","description":"Whether the user is the owner of the team"},"isAdmin":{"type":"boolean","description":"Whether the user is an admin of the team"}},"required":["team","isOwner","isAdmin"],"additionalProperties":false},"description":"The teams this user is a member of"},"isPhoneVerified":{"type":"boolean","description":"Whether the user's phone number has been verified"},"isPasswordAuthEnabled":{"type":"boolean","description":"Whether the user has a password set"},"isQrCodeBasedMfaEnabled":{"type":"boolean","description":"Whether the user has a QR code based MFA enabled"},"isQrCodeBasedMfaConfirmed":{"type":"boolean","description":"Whether the user has a QR code based MFA confirmed"},"preferences":{"type":"object","properties":{"defaultProduct":{"type":"string","nullable":true},"defaultTeamId":{"type":"string","nullable":true},"theme":{"type":"string","enum":["light","dark"],"nullable":true},"fontSize":{"type":"number","nullable":true},"disableHotkeys":{"type":"boolean","nullable":true}},"additionalProperties":false,"nullable":true,"default":null,"description":"The user's preferences"},"id":{"type":"string","description":"A unique ID for the user"},"analyticsId":{"type":"number","description":"An internal, numeric ID for the user"},"metadata":{"type":"object","properties":{"tags":{"type":"string","nullable":true,"default":null,"description":"Tags for the user"},"coreSurvey":{"type":"object","additionalProperties":{"type":"string"},"nullable":true,"default":null,"description":"Core survey question-answer pairs"},"gradientSurvey":{"type":"object","additionalProperties":{"type":"string"},"nullable":true,"default":null,"description":"Gradient survey question-answer pairs"},"graphcoreTermsAccepted":{"type":"boolean","default":false,"description":"Whether the user has accepted the Graphcore terms of service"}},"additionalProperties":false,"description":"Metadata about the user"}},"required":["firstName","lastName","email","dtCreated","dtConfirmed","teamMemberships","isPhoneVerified","isPasswordAuthEnabled","isQrCodeBasedMfaEnabled","isQrCodeBasedMfaConfirmed","id","analyticsId","metadata"],"additionalProperties":false},"team":{"type":"object","properties":{"namespace":{"type":"string","description":"The namespace for the team"},"isPrivate":{"type":"boolean","description":"Whether the team is private or not"},"maxMachines":{"type":"number","description":"The maximum number of machines"},"id":{"type":"string","description":"A unique ID for the team"},"analyticsId":{"type":"number","description":"An internal, numeric ID for the team"}},"required":["namespace","isPrivate","maxMachines","id","analyticsId"],"additionalProperties":false}},"required":["user","team"],"additionalProperties":false,"nullable":true,"description":"A session object containing the current team and user. If a user is not logged in, this will be null."}}}},"default":{"$ref":"#/components/responses/error"}}}},"/container-registries":{"post":{"operationId":"containerRegistries-create","summary":"Create a container registry","description":"Creates a container registry for the current team.","tags":["Container Registries"],"security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"kind":{"type":"string","enum":["other","dockerhub","gcr","ghcr","digitalocean","azure"],"description":"The kind of provider the registry is. If provided, the registry will be validated against the provider's rules."},"name":{"type":"string","minLength":1,"description":"The name of the container registry."},"namespace":{"type":"string","description":"The namespace of the container registry. See https://docs.digitalocean.com/products/container-registry/."},"url":{"type":"string","minLength":1,"description":"The URL of the container registry. See https://docs.digitalocean.com/products/container-registry/."},"username":{"type":"string","minLength":1,"description":"A username for the container registry. See https://docs.digitalocean.com/products/container-registry/."},"password":{"type":"string","description":"The password for the registry. See https://docs.digitalocean.com/products/container-registry/."}},"required":["name","namespace","url","username","password"],"additionalProperties":false}}}},"parameters":[],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The id of the container registry."},"name":{"type":"string","description":"The name of the container registry."},"url":{"type":"string","description":"The URL of the container registry. See https://docs.digitalocean.com/products/container-registry/."},"namespace":{"type":"string","description":"The namespace of the container registry. See https://docs.digitalocean.com/products/container-registry/."},"username":{"type":"string","description":"A username for the container registry. See https://docs.digitalocean.com/products/container-registry/."},"dtCreated":{"type":"string","format":"date-time","description":"The date the container registry was created"},"dtModified":{"type":"string","format":"date-time","description":"The date the container registry was last modified"},"kind":{"type":"string","enum":["other","dockerhub","gcr","ghcr","digitalocean","azure"],"description":"The kind of container registry"}},"required":["id","name","url","namespace","username","dtCreated","dtModified","kind"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}},"get":{"operationId":"containerRegistries-list","summary":"List container registries","description":"Lists container registries for the current team.","tags":["Container Registries"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"after","in":"query","required":false,"schema":{"type":"string"},"description":"Fetch the next page of results after this cursor."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":120},"description":"The number of items to fetch after this page."},{"name":"orderBy","in":"query","required":false,"schema":{"type":"string","enum":["dtCreated"],"default":"dtCreated"},"description":"Order results by one of these fields."},{"name":"order","in":"query","required":false,"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"description":"The order to sort the results by."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"hasMore":{"type":"boolean","description":"Whether there are more pages of results available."},"nextPage":{"type":"string","description":"The cursor required to fetch the next page of results. i.e. `?after=nextPage`. This is `null` when there is no next page."},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The id of the container registry."},"name":{"type":"string","description":"The name of the container registry."},"url":{"type":"string","description":"The URL of the container registry. See https://docs.digitalocean.com/products/container-registry/."},"namespace":{"type":"string","description":"The namespace of the container registry. See https://docs.digitalocean.com/products/container-registry/."},"username":{"type":"string","description":"A username for the container registry. See https://docs.digitalocean.com/products/container-registry/."},"dtCreated":{"type":"string","format":"date-time","description":"The date the container registry was created"},"dtModified":{"type":"string","format":"date-time","description":"The date the container registry was last modified"},"kind":{"type":"string","enum":["other","dockerhub","gcr","ghcr","digitalocean","azure"],"description":"The kind of container registry"}},"required":["id","name","url","namespace","username","dtCreated","dtModified","kind"],"additionalProperties":false},"description":"The items on this page."}},"required":["hasMore","items"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/container-registries/{id}":{"get":{"operationId":"containerRegistries-get","summary":"List container registries","description":"Lists container registries for the current team.","tags":["Container Registries"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"The id of the container registry."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The id of the container registry."},"name":{"type":"string","description":"The name of the container registry."},"url":{"type":"string","description":"The URL of the container registry. See https://docs.digitalocean.com/products/container-registry/."},"namespace":{"type":"string","description":"The namespace of the container registry. See https://docs.digitalocean.com/products/container-registry/."},"username":{"type":"string","description":"A username for the container registry. See https://docs.digitalocean.com/products/container-registry/."},"dtCreated":{"type":"string","format":"date-time","description":"The date the container registry was created"},"dtModified":{"type":"string","format":"date-time","description":"The date the container registry was last modified"},"kind":{"type":"string","enum":["other","dockerhub","gcr","ghcr","digitalocean","azure"],"description":"The kind of container registry"}},"required":["id","name","url","namespace","username","dtCreated","dtModified","kind"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}},"put":{"operationId":"containerRegistries-update","summary":"Update a container registry","description":"Updates a container registry for the current team.","tags":["Container Registries"],"security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"description":"The name of the container registry."},"kind":{"type":"string","enum":["other","dockerhub","gcr","ghcr","digitalocean","azure"],"description":"The kind of provider the registry is. If provided, the registry will be validated against the provider's rules."},"namespace":{"type":"string","description":"The namespace of the container registry. See https://docs.digitalocean.com/products/container-registry/."},"url":{"type":"string","minLength":1,"description":"The URL of the container registry. See https://docs.digitalocean.com/products/container-registry/."},"username":{"type":"string","minLength":1,"description":"A username for the container registry. See https://docs.digitalocean.com/products/container-registry/."},"password":{"type":"string","description":"An updated password for the registry. See https://docs.digitalocean.com/products/container-registry/."}},"additionalProperties":false}}}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"The id of the container registry."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The id of the container registry."},"name":{"type":"string","description":"The name of the container registry."},"url":{"type":"string","description":"The URL of the container registry. See https://docs.digitalocean.com/products/container-registry/."},"namespace":{"type":"string","description":"The namespace of the container registry. See https://docs.digitalocean.com/products/container-registry/."},"username":{"type":"string","description":"A username for the container registry. See https://docs.digitalocean.com/products/container-registry/."},"dtCreated":{"type":"string","format":"date-time","description":"The date the container registry was created"},"dtModified":{"type":"string","format":"date-time","description":"The date the container registry was last modified"},"kind":{"type":"string","enum":["other","dockerhub","gcr","ghcr","digitalocean","azure"],"description":"The kind of container registry"}},"required":["id","name","url","namespace","username","dtCreated","dtModified","kind"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}},"delete":{"operationId":"containerRegistries-delete","summary":"Delete a container registry","description":"Deletes a container registry for the current team.","tags":["Container Registries"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"The id of the container registry."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The id of the container registry."},"name":{"type":"string","description":"The name of the container registry."},"url":{"type":"string","description":"The URL of the container registry. See https://docs.digitalocean.com/products/container-registry/."},"namespace":{"type":"string","description":"The namespace of the container registry. See https://docs.digitalocean.com/products/container-registry/."},"username":{"type":"string","description":"A username for the container registry. See https://docs.digitalocean.com/products/container-registry/."},"dtCreated":{"type":"string","format":"date-time","description":"The date the container registry was created"},"dtModified":{"type":"string","format":"date-time","description":"The date the container registry was last modified"},"kind":{"type":"string","enum":["other","dockerhub","gcr","ghcr","digitalocean","azure"],"description":"The kind of container registry"}},"required":["id","name","url","namespace","username","dtCreated","dtModified","kind"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/container-registries/{id}/test-connection":{"get":{"operationId":"containerRegistries-testConnection","summary":"Test a container registry connection","description":"Validate that a container registry can be connected to using the provided credentials.","tags":["Container Registries"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"The id of the container registry."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the connection was successful"},"error":{"type":"string","description":"The error message, if any"}},"required":["success"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/custom-templates/{id}":{"get":{"operationId":"customTemplates-get","summary":"Get a template","description":"Fetches a single template by ID.","tags":["Custom Templates"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"The ID of the template to fetch."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the template."},"name":{"type":"string","description":"The name of the template."},"agentType":{"type":"string","description":"The type of agent installed on the template."},"operatingSystemLabel":{"type":"string","description":"The operating system installed on the template."},"region":{"anyOf":[{"type":"string","enum":["ny2"]},{"type":"string","enum":["ca1"]},{"type":"string","enum":["ams1"]},{"type":"string"}],"description":"The region the template is in."},"defaultSizeGb":{"anyOf":[{"type":"number","enum":[50]},{"type":"number","enum":[100]},{"type":"number","enum":[250]},{"type":"number","enum":[500]},{"type":"number","enum":[1000]},{"type":"number","enum":[2000]},{"type":"number","enum":[4000]},{"type":"number","enum":[8000]},{"type":"number","enum":[12000]},{"type":"number","enum":[16000]},{"type":"number","exclusiveMinimum":true,"minimum":0}],"description":"The default size of the template in gigabytes."},"availableMachineTypes":{"type":"array","items":{"type":"object","properties":{"machineTypeLabel":{"type":"string","description":"The label of the machine type."},"isAvailable":{"type":"boolean","description":"Whether the template is available on this machine type."}},"required":["machineTypeLabel","isAvailable"],"additionalProperties":false},"description":"The machine types the template is available on."},"parentMachineId":{"type":"string","description":"The ID of the parent machine."},"dtCreated":{"type":"string","format":"date-time","description":"The date the template was created."},"dtDeleted":{"anyOf":[{"not":{}},{"type":"string","format":"date-time"}],"nullable":true,"description":"The date the shared drive was deleted."}},"required":["id","name","agentType","operatingSystemLabel","region","defaultSizeGb","availableMachineTypes","parentMachineId","dtCreated"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}},"put":{"operationId":"customTemplates-update","summary":"Update a template","description":"Updates a single template by ID.","tags":["Custom Templates"],"security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the template."}},"required":["name"],"additionalProperties":false}}}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"The ID of the template to update."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the template."},"name":{"type":"string","description":"The name of the template."},"agentType":{"type":"string","description":"The type of agent installed on the template."},"operatingSystemLabel":{"type":"string","description":"The operating system installed on the template."},"region":{"anyOf":[{"type":"string","enum":["ny2"]},{"type":"string","enum":["ca1"]},{"type":"string","enum":["ams1"]},{"type":"string"}],"description":"The region the template is in."},"defaultSizeGb":{"anyOf":[{"type":"number","enum":[50]},{"type":"number","enum":[100]},{"type":"number","enum":[250]},{"type":"number","enum":[500]},{"type":"number","enum":[1000]},{"type":"number","enum":[2000]},{"type":"number","enum":[4000]},{"type":"number","enum":[8000]},{"type":"number","enum":[12000]},{"type":"number","enum":[16000]},{"type":"number","exclusiveMinimum":true,"minimum":0}],"description":"The default size of the template in gigabytes."},"availableMachineTypes":{"type":"array","items":{"type":"object","properties":{"machineTypeLabel":{"type":"string","description":"The label of the machine type."},"isAvailable":{"type":"boolean","description":"Whether the template is available on this machine type."}},"required":["machineTypeLabel","isAvailable"],"additionalProperties":false},"description":"The machine types the template is available on."},"parentMachineId":{"type":"string","description":"The ID of the parent machine."},"dtCreated":{"type":"string","format":"date-time","description":"The date the template was created."},"dtDeleted":{"anyOf":[{"not":{}},{"type":"string","format":"date-time"}],"nullable":true,"description":"The date the shared drive was deleted."}},"required":["id","name","agentType","operatingSystemLabel","region","defaultSizeGb","availableMachineTypes","parentMachineId","dtCreated"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}},"delete":{"operationId":"customTemplates-delete","summary":"Delete template","description":"Delete a template.","tags":["Custom Templates"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"The ID of the template to delete."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the template."},"name":{"type":"string","description":"The name of the template."},"agentType":{"type":"string","description":"The type of agent installed on the template."},"operatingSystemLabel":{"type":"string","description":"The operating system installed on the template."},"region":{"anyOf":[{"type":"string","enum":["ny2"]},{"type":"string","enum":["ca1"]},{"type":"string","enum":["ams1"]},{"type":"string"}],"description":"The region the template is in."},"defaultSizeGb":{"anyOf":[{"type":"number","enum":[50]},{"type":"number","enum":[100]},{"type":"number","enum":[250]},{"type":"number","enum":[500]},{"type":"number","enum":[1000]},{"type":"number","enum":[2000]},{"type":"number","enum":[4000]},{"type":"number","enum":[8000]},{"type":"number","enum":[12000]},{"type":"number","enum":[16000]},{"type":"number","exclusiveMinimum":true,"minimum":0}],"description":"The default size of the template in gigabytes."},"availableMachineTypes":{"type":"array","items":{"type":"object","properties":{"machineTypeLabel":{"type":"string","description":"The label of the machine type."},"isAvailable":{"type":"boolean","description":"Whether the template is available on this machine type."}},"required":["machineTypeLabel","isAvailable"],"additionalProperties":false},"description":"The machine types the template is available on."},"parentMachineId":{"type":"string","description":"The ID of the parent machine."},"dtCreated":{"type":"string","format":"date-time","description":"The date the template was created."},"dtDeleted":{"anyOf":[{"not":{}},{"type":"string","format":"date-time"}],"nullable":true,"description":"The date the shared drive was deleted."}},"required":["id","name","agentType","operatingSystemLabel","region","defaultSizeGb","availableMachineTypes","parentMachineId","dtCreated"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/custom-templates":{"get":{"operationId":"customTemplates-list","summary":"List templates","description":"Fetches a list of templates.","tags":["Custom Templates"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"after","in":"query","required":false,"schema":{"type":"string"},"description":"Fetch the next page of results after this cursor."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":120},"description":"The number of items to fetch after this page."},{"name":"orderBy","in":"query","required":false,"schema":{"type":"string","enum":["dtCreated","name"],"default":"dtCreated"},"description":"Order results by one of these fields."},{"name":"order","in":"query","required":false,"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"description":"The order to sort the results by."},{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"machineId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"hasMore":{"type":"boolean","description":"Whether there are more pages of results available."},"nextPage":{"type":"string","description":"The cursor required to fetch the next page of results. i.e. `?after=nextPage`. This is `null` when there is no next page."},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the template."},"name":{"type":"string","description":"The name of the template."},"agentType":{"type":"string","description":"The type of agent installed on the template."},"operatingSystemLabel":{"type":"string","description":"The operating system installed on the template."},"region":{"anyOf":[{"type":"string","enum":["ny2"]},{"type":"string","enum":["ca1"]},{"type":"string","enum":["ams1"]},{"type":"string"}],"description":"The region the template is in."},"defaultSizeGb":{"anyOf":[{"type":"number","enum":[50]},{"type":"number","enum":[100]},{"type":"number","enum":[250]},{"type":"number","enum":[500]},{"type":"number","enum":[1000]},{"type":"number","enum":[2000]},{"type":"number","enum":[4000]},{"type":"number","enum":[8000]},{"type":"number","enum":[12000]},{"type":"number","enum":[16000]},{"type":"number","exclusiveMinimum":true,"minimum":0}],"description":"The default size of the template in gigabytes."},"availableMachineTypes":{"type":"array","items":{"type":"object","properties":{"machineTypeLabel":{"type":"string","description":"The label of the machine type."},"isAvailable":{"type":"boolean","description":"Whether the template is available on this machine type."}},"required":["machineTypeLabel","isAvailable"],"additionalProperties":false},"description":"The machine types the template is available on."},"parentMachineId":{"type":"string","description":"The ID of the parent machine."},"dtCreated":{"type":"string","format":"date-time","description":"The date the template was created."},"dtDeleted":{"anyOf":[{"not":{}},{"type":"string","format":"date-time"}],"nullable":true,"description":"The date the shared drive was deleted."}},"required":["id","name","agentType","operatingSystemLabel","region","defaultSizeGb","availableMachineTypes","parentMachineId","dtCreated"],"additionalProperties":false},"description":"The items on this page."}},"required":["hasMore","items"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}},"post":{"operationId":"customTemplates-create","summary":"Create template","description":"Create a template for a machine.","tags":["Custom Templates"],"security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the template."},"machineId":{"type":"string","description":"The ID of the machine to create a template from."}},"required":["name","machineId"],"additionalProperties":false}}}},"parameters":[],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"event":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the event."},"name":{"type":"string","enum":["bill-sessions","bill-upgrade","create","deactivate","restart","snapshot-create","snapshot-delete","snapshot-restore","start","stop","template-create","template-delete","template-distribute","template-import","vm-migrate","vm-shutdown-force","vm-upgrade"],"description":"The name of the event, e.g. \"create\"."},"state":{"type":"string","enum":["new","in progress","done","error","cancelled"],"description":"The state of the event, e.g. \"done\"."},"machineId":{"type":"string","nullable":true,"description":"The ID of the machine the event is for."},"dtCreated":{"type":"string","format":"date-time","description":"The date the event was created."},"dtStarted":{"type":"string","format":"date-time","nullable":true,"description":"The date the event was started."},"dtFinished":{"type":"string","format":"date-time","nullable":true,"description":"The date the event was finished."},"error":{"type":"string","nullable":true,"description":"The error message of the event, if any."}},"required":["id","name","state","machineId","dtCreated","dtStarted","dtFinished","error"],"additionalProperties":false,"description":"The machine event to poll for the async operation."},"data":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the template."},"name":{"type":"string","description":"The name of the template."},"agentType":{"type":"string","description":"The type of agent installed on the template."},"operatingSystemLabel":{"type":"string","description":"The operating system installed on the template."},"region":{"anyOf":[{"type":"string","enum":["ny2"]},{"type":"string","enum":["ca1"]},{"type":"string","enum":["ams1"]},{"type":"string"}],"description":"The region the template is in."},"defaultSizeGb":{"anyOf":[{"type":"number","enum":[50]},{"type":"number","enum":[100]},{"type":"number","enum":[250]},{"type":"number","enum":[500]},{"type":"number","enum":[1000]},{"type":"number","enum":[2000]},{"type":"number","enum":[4000]},{"type":"number","enum":[8000]},{"type":"number","enum":[12000]},{"type":"number","enum":[16000]},{"type":"number","exclusiveMinimum":true,"minimum":0}],"description":"The default size of the template in gigabytes."},"availableMachineTypes":{"type":"array","items":{"type":"object","properties":{"machineTypeLabel":{"type":"string","description":"The label of the machine type."},"isAvailable":{"type":"boolean","description":"Whether the template is available on this machine type."}},"required":["machineTypeLabel","isAvailable"],"additionalProperties":false},"description":"The machine types the template is available on."},"parentMachineId":{"type":"string","description":"The ID of the parent machine."},"dtCreated":{"type":"string","format":"date-time","description":"The date the template was created."},"dtDeleted":{"anyOf":[{"not":{}},{"type":"string","format":"date-time"}],"nullable":true,"description":"The date the shared drive was deleted."}},"required":["id","name","agentType","operatingSystemLabel","region","defaultSizeGb","availableMachineTypes","parentMachineId","dtCreated"],"additionalProperties":false,"description":"The template."}},"required":["event","data"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/machine-events/{id}":{"get":{"operationId":"machineEvents-get","summary":"Get a machine event","description":"Fetches a single machine event by ID.","tags":["Machine"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"The ID of the machine event to fetch."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the event."},"name":{"type":"string","enum":["bill-sessions","bill-upgrade","create","deactivate","restart","snapshot-create","snapshot-delete","snapshot-restore","start","stop","template-create","template-delete","template-distribute","template-import","vm-migrate","vm-shutdown-force","vm-upgrade"],"description":"The name of the event, e.g. \"create\"."},"state":{"type":"string","enum":["new","in progress","done","error","cancelled"],"description":"The state of the event, e.g. \"done\"."},"machineId":{"type":"string","nullable":true,"description":"The ID of the machine the event is for."},"dtCreated":{"type":"string","format":"date-time","description":"The date the event was created."},"dtStarted":{"type":"string","format":"date-time","nullable":true,"description":"The date the event was started."},"dtFinished":{"type":"string","format":"date-time","nullable":true,"description":"The date the event was finished."},"error":{"type":"string","nullable":true,"description":"The error message of the event, if any."}},"required":["id","name","state","machineId","dtCreated","dtStarted","dtFinished","error"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/machine-events":{"get":{"operationId":"machineEvents-list","summary":"List machine events","description":"Fetches a list of machine events.","tags":["Machine"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"after","in":"query","required":false,"schema":{"type":"string"},"description":"Fetch the next page of results after this cursor."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":120},"description":"The number of items to fetch after this page."},{"name":"orderBy","in":"query","required":false,"schema":{"type":"string","enum":["dtCreated"],"default":"dtCreated"},"description":"Order results by one of these fields."},{"name":"order","in":"query","required":false,"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"description":"The order to sort the results by."},{"name":"machineId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"hasMore":{"type":"boolean","description":"Whether there are more pages of results available."},"nextPage":{"type":"string","description":"The cursor required to fetch the next page of results. i.e. `?after=nextPage`. This is `null` when there is no next page."},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the event."},"name":{"type":"string","enum":["bill-sessions","bill-upgrade","create","deactivate","restart","snapshot-create","snapshot-delete","snapshot-restore","start","stop","template-create","template-delete","template-distribute","template-import","vm-migrate","vm-shutdown-force","vm-upgrade"],"description":"The name of the event, e.g. \"create\"."},"state":{"type":"string","enum":["new","in progress","done","error","cancelled"],"description":"The state of the event, e.g. \"done\"."},"machineId":{"type":"string","nullable":true,"description":"The ID of the machine the event is for."},"dtCreated":{"type":"string","format":"date-time","description":"The date the event was created."},"dtStarted":{"type":"string","format":"date-time","nullable":true,"description":"The date the event was started."},"dtFinished":{"type":"string","format":"date-time","nullable":true,"description":"The date the event was finished."},"error":{"type":"string","nullable":true,"description":"The error message of the event, if any."}},"required":["id","name","state","machineId","dtCreated","dtStarted","dtFinished","error"],"additionalProperties":false},"description":"The items on this page."}},"required":["hasMore","items"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/deployments/{id}":{"get":{"operationId":"deployments-get","summary":"Get a deployment","description":"Fetches a single deployment by deployment ID.","tags":["Deployments"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"description":"The ID of the deployment to fetch"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the deployment"},"id":{"type":"string","description":"The ID of the deployment"},"projectId":{"type":"string","description":"The ID of the project the deployment belongs to"},"teamId":{"type":"string","description":"The ID of the team the deployment belongs to"},"endpoint":{"type":"string","description":"The unique endpoint for the deployment"},"latestSpecHash":{"type":"string","nullable":true,"default":null,"description":"The last version hash for the deployment"},"dtCreated":{"type":"string","format":"date-time","description":"The date the deployment was created"},"latestSpec":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the deployment spec"},"data":{"anyOf":[{"anyOf":[{"type":"object","properties":{"apiVersion":{"type":"string","enum":["v0alpha0"]},"command":{"type":"array","items":{"type":"string"}},"containerRegistry":{"type":"string"},"enabled":{"type":"boolean","default":true},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"image":{"type":"string"},"models":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"path":{"type":"string"}},"required":["id"],"additionalProperties":false}},"name":{"type":"string"},"port":{"type":"number","minimum":1,"maximum":65535,"default":80},"region":{"anyOf":[{"type":"string","enum":["ny2"]},{"type":"string","enum":["ca1"]},{"type":"string","enum":["ams1"]},{"type":"string"}]},"repositories":{"type":"object","properties":{"mountPath":{"type":"string"},"dataset":{"type":"string"},"repositories":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"ref":{"type":"string"},"name":{"type":"string"},"username":{"type":"string"},"password":{"type":"string"}},"required":["url","name"],"additionalProperties":false}}},"required":["dataset","repositories"],"additionalProperties":false},"resources":{"type":"object","properties":{"instanceType":{"type":"string"},"replicas":{"type":"number","minimum":0,"default":1},"autoscaling":{"type":"object","properties":{"maxReplicas":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":25},"enabled":{"type":"boolean"},"metrics":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"metric":{"type":"string","enum":["requestDuration"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"number","exclusiveMinimum":true,"minimum":0.01,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false},{"type":"object","properties":{"metric":{"type":"string","enum":["cpu","memory"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false}]}}},"required":["maxReplicas","metrics"],"additionalProperties":false}},"required":["instanceType"],"additionalProperties":false}},"required":["apiVersion","image","name","resources"],"additionalProperties":false},{"type":"object","properties":{"apiVersion":{"type":"string","enum":["v0alpha1"]},"containerRegistry":{"type":"string"},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthchecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"image":{"type":"string"},"integrations":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["model"]},"id":{"type":"string"},"name":{"type":"string"},"path":{"type":"string","default":"/opt/models"}},"required":["type","id","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["s3"]},"url":{"type":"string","pattern":"^(s3:\\/\\/[a-zA-Z0-9_-]*\\/[a-zA-Z0-9_-]*)"},"path":{"type":"string"},"region":{"anyOf":[{"type":"string","enum":["ny2"]},{"type":"string","enum":["ca1"]},{"type":"string","enum":["ams1"]},{"type":"string"}]},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","url"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["spaces"]},"path":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string","pattern":"^https:\\/\\/[a-z0-9-]+\\.([a-z0-9-]+)\\.digitaloceanspaces\\.com$"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","endpoint"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["volume"]},"name":{"type":"string"}},"required":["type","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["git-lfs"]},"url":{"type":"string","format":"uri"},"path":{"type":"string"}},"required":["name","type","url"],"additionalProperties":false}]}},"name":{"type":"string"},"region":{"anyOf":[{"type":"string","enum":["ny2"]},{"type":"string","enum":["ca1"]},{"type":"string","enum":["ams1"]},{"type":"string"}]},"command":{"type":"array","items":{"type":"string"}},"enabled":{"type":"boolean","default":true},"resources":{"type":"object","properties":{"machineType":{"type":"string"},"replicas":{"type":"number","minimum":0,"default":1},"autoscaling":{"type":"object","properties":{"maxReplicas":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":25},"enabled":{"type":"boolean"},"metrics":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"metric":{"type":"string","enum":["requestDuration"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"number","exclusiveMinimum":true,"minimum":0.01,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false},{"type":"object","properties":{"metric":{"type":"string","enum":["cpu","memory"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false}]}}},"required":["maxReplicas","metrics"],"additionalProperties":false},"ports":{"type":"array","items":{"type":"number","minimum":1,"maximum":65535}}},"required":["machineType","ports"],"additionalProperties":false},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"basicAuthKey":{"type":"string"}},"required":["apiVersion","image","name","resources"],"additionalProperties":false}]},{"type":"object","properties":{"apiVersion":{"anyOf":[{"type":"string","enum":["v1"]},{"type":"string","enum":["latest"]}]},"containerRegistry":{"type":"string"},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthchecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"image":{"type":"string"},"integrations":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["model"]},"id":{"type":"string"},"name":{"type":"string"},"path":{"type":"string","default":"/opt/models"}},"required":["type","id","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["s3"]},"url":{"type":"string","pattern":"^(s3:\\/\\/[a-zA-Z0-9_-]*\\/[a-zA-Z0-9_-]*)"},"path":{"type":"string"},"region":{"anyOf":[{"type":"string","enum":["ny2"]},{"type":"string","enum":["ca1"]},{"type":"string","enum":["ams1"]},{"type":"string"}]},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","url"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["spaces"]},"path":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string","pattern":"^https:\\/\\/[a-z0-9-]+\\.([a-z0-9-]+)\\.digitaloceanspaces\\.com$"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","endpoint"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["volume"]},"name":{"type":"string"}},"required":["type","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["git-lfs"]},"url":{"type":"string","format":"uri"},"path":{"type":"string"}},"required":["name","type","url"],"additionalProperties":false}]}},"name":{"type":"string"},"region":{"anyOf":[{"type":"string","enum":["ny2"]},{"type":"string","enum":["ca1"]},{"type":"string","enum":["ams1"]},{"type":"string"}]},"command":{"type":"array","items":{"type":"string"}},"enabled":{"type":"boolean","default":true},"resources":{"type":"object","properties":{"machineType":{"type":"string"},"replicas":{"type":"number","minimum":0,"default":1},"autoscaling":{"type":"object","properties":{"maxReplicas":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":25},"enabled":{"type":"boolean"},"metrics":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"metric":{"type":"string","enum":["requestDuration"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"number","exclusiveMinimum":true,"minimum":0.01,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false},{"type":"object","properties":{"metric":{"type":"string","enum":["cpu","memory"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false}]}}},"required":["maxReplicas","metrics"],"additionalProperties":false},"ports":{"type":"array","items":{"type":"number","minimum":1,"maximum":65535}}},"required":["machineType","ports"],"additionalProperties":false},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"basicAuthKey":{"type":"string"}},"required":["apiVersion","image","name","resources"],"additionalProperties":false}],"nullable":true,"description":"The data for the deployment spec"},"deploymentId":{"type":"string","description":"The ID of the deployment the spec belongs to"},"externalApplied":{"type":"string","format":"date-time","nullable":true,"default":null,"description":"The date the deployment configuration was applied to the cluster"},"dtHealthy":{"type":"string","format":"date-time","nullable":true,"default":null,"description":"The date the deployment was marked \"healthy\""},"userId":{"type":"string","description":"The ID of the user the deployment belongs to"},"error":{"type":"string","nullable":true,"default":null,"description":"The fatal configuration error. Only present if the cluster was unable to apply the entire deployment configuration. This is not the same as an instance error."},"metadata":{"type":"object","properties":{"gitHeaders":{"type":"object","properties":{"x-git-host":{"anyOf":[{"type":"string","enum":["github"]},{"type":"string","enum":["gitlab"]}]},"x-git-actor":{"type":"string"},"x-git-sha":{"type":"string"},"x-git-ref":{"type":"string"},"x-git-owner":{"type":"string"},"x-git-repo":{"type":"string"}},"required":["x-git-host","x-git-actor","x-git-sha","x-git-ref","x-git-owner","x-git-repo"],"additionalProperties":false}},"additionalProperties":false,"description":"Metadata about the source of the configuration","nullable":true,"default":null}},"required":["id","deploymentId","userId"],"additionalProperties":false,"description":"The latest deployment configuration. If invalid, null is returned.","nullable":true,"default":null},"basicAuthKey":{"type":"string","nullable":true,"default":null,"description":"The endpoint security key for the deployment"}},"required":["name","id","projectId","teamId","endpoint","dtCreated"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}},"delete":{"operationId":"deployments-delete","summary":"Delete a deployment","description":"Deletes a deployment by deployment ID.","tags":["Deployments"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"description":"The ID of the deployment to delete"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the deleted deployment"}},"required":["id"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/deployments":{"get":{"operationId":"deployments-list","summary":"List deployments","description":"Fetches a list of deployments for a logged in user.","tags":["Deployments"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"after","in":"query","required":false,"schema":{"type":"string"},"description":"Fetch the next page of results after this cursor."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":120},"description":"The number of items to fetch after this page."},{"name":"orderBy","in":"query","required":false,"schema":{"type":"string","enum":["dtCreated"],"default":"dtCreated"},"description":"Order results by one of these fields."},{"name":"order","in":"query","required":false,"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"description":"The order to sort the results by."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"hasMore":{"type":"boolean","description":"Whether there are more pages of results available."},"nextPage":{"type":"string","description":"The cursor required to fetch the next page of results. i.e. `?after=nextPage`. This is `null` when there is no next page."},"items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"The name of the deployment"},"id":{"type":"string","description":"The ID of the deployment"},"projectId":{"type":"string","description":"The ID of the project the deployment belongs to"},"teamId":{"type":"string","description":"The ID of the team the deployment belongs to"},"endpoint":{"type":"string","description":"The unique endpoint for the deployment"},"latestSpecHash":{"type":"string","nullable":true,"default":null,"description":"The last version hash for the deployment"},"dtCreated":{"type":"string","format":"date-time","description":"The date the deployment was created"},"latestSpec":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the deployment spec"},"data":{"anyOf":[{"anyOf":[{"type":"object","properties":{"apiVersion":{"type":"string","enum":["v0alpha0"]},"command":{"type":"array","items":{"type":"string"}},"containerRegistry":{"type":"string"},"enabled":{"type":"boolean","default":true},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"image":{"type":"string"},"models":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"path":{"type":"string"}},"required":["id"],"additionalProperties":false}},"name":{"type":"string"},"port":{"type":"number","minimum":1,"maximum":65535,"default":80},"region":{"anyOf":[{"type":"string","enum":["ny2"]},{"type":"string","enum":["ca1"]},{"type":"string","enum":["ams1"]},{"type":"string"}]},"repositories":{"type":"object","properties":{"mountPath":{"type":"string"},"dataset":{"type":"string"},"repositories":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"ref":{"type":"string"},"name":{"type":"string"},"username":{"type":"string"},"password":{"type":"string"}},"required":["url","name"],"additionalProperties":false}}},"required":["dataset","repositories"],"additionalProperties":false},"resources":{"type":"object","properties":{"instanceType":{"type":"string"},"replicas":{"type":"number","minimum":0,"default":1},"autoscaling":{"type":"object","properties":{"maxReplicas":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":25},"enabled":{"type":"boolean"},"metrics":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"metric":{"type":"string","enum":["requestDuration"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"number","exclusiveMinimum":true,"minimum":0.01,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false},{"type":"object","properties":{"metric":{"type":"string","enum":["cpu","memory"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false}]}}},"required":["maxReplicas","metrics"],"additionalProperties":false}},"required":["instanceType"],"additionalProperties":false}},"required":["apiVersion","image","name","resources"],"additionalProperties":false},{"type":"object","properties":{"apiVersion":{"type":"string","enum":["v0alpha1"]},"containerRegistry":{"type":"string"},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthchecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"image":{"type":"string"},"integrations":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["model"]},"id":{"type":"string"},"name":{"type":"string"},"path":{"type":"string","default":"/opt/models"}},"required":["type","id","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["s3"]},"url":{"type":"string","pattern":"^(s3:\\/\\/[a-zA-Z0-9_-]*\\/[a-zA-Z0-9_-]*)"},"path":{"type":"string"},"region":{"anyOf":[{"type":"string","enum":["ny2"]},{"type":"string","enum":["ca1"]},{"type":"string","enum":["ams1"]},{"type":"string"}]},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","url"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["spaces"]},"path":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string","pattern":"^https:\\/\\/[a-z0-9-]+\\.([a-z0-9-]+)\\.digitaloceanspaces\\.com$"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","endpoint"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["volume"]},"name":{"type":"string"}},"required":["type","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["git-lfs"]},"url":{"type":"string","format":"uri"},"path":{"type":"string"}},"required":["name","type","url"],"additionalProperties":false}]}},"name":{"type":"string"},"region":{"anyOf":[{"type":"string","enum":["ny2"]},{"type":"string","enum":["ca1"]},{"type":"string","enum":["ams1"]},{"type":"string"}]},"command":{"type":"array","items":{"type":"string"}},"enabled":{"type":"boolean","default":true},"resources":{"type":"object","properties":{"machineType":{"type":"string"},"replicas":{"type":"number","minimum":0,"default":1},"autoscaling":{"type":"object","properties":{"maxReplicas":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":25},"enabled":{"type":"boolean"},"metrics":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"metric":{"type":"string","enum":["requestDuration"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"number","exclusiveMinimum":true,"minimum":0.01,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false},{"type":"object","properties":{"metric":{"type":"string","enum":["cpu","memory"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false}]}}},"required":["maxReplicas","metrics"],"additionalProperties":false},"ports":{"type":"array","items":{"type":"number","minimum":1,"maximum":65535}}},"required":["machineType","ports"],"additionalProperties":false},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"basicAuthKey":{"type":"string"}},"required":["apiVersion","image","name","resources"],"additionalProperties":false}]},{"type":"object","properties":{"apiVersion":{"anyOf":[{"type":"string","enum":["v1"]},{"type":"string","enum":["latest"]}]},"containerRegistry":{"type":"string"},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthchecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"image":{"type":"string"},"integrations":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["model"]},"id":{"type":"string"},"name":{"type":"string"},"path":{"type":"string","default":"/opt/models"}},"required":["type","id","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["s3"]},"url":{"type":"string","pattern":"^(s3:\\/\\/[a-zA-Z0-9_-]*\\/[a-zA-Z0-9_-]*)"},"path":{"type":"string"},"region":{"anyOf":[{"type":"string","enum":["ny2"]},{"type":"string","enum":["ca1"]},{"type":"string","enum":["ams1"]},{"type":"string"}]},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","url"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["spaces"]},"path":{"type":"string"},"accessKeyId":{"type":"string","minLength":1},"endpoint":{"type":"string","pattern":"^https:\\/\\/[a-z0-9-]+\\.([a-z0-9-]+)\\.digitaloceanspaces\\.com$"},"secretAccessKey":{"type":"string","pattern":"secret\\:"}},"required":["name","type","endpoint"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["volume"]},"name":{"type":"string"}},"required":["type","name"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["git-lfs"]},"url":{"type":"string","format":"uri"},"path":{"type":"string"}},"required":["name","type","url"],"additionalProperties":false}]}},"name":{"type":"string"},"region":{"anyOf":[{"type":"string","enum":["ny2"]},{"type":"string","enum":["ca1"]},{"type":"string","enum":["ams1"]},{"type":"string"}]},"command":{"type":"array","items":{"type":"string"}},"enabled":{"type":"boolean","default":true},"resources":{"type":"object","properties":{"machineType":{"type":"string"},"replicas":{"type":"number","minimum":0,"default":1},"autoscaling":{"type":"object","properties":{"maxReplicas":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":25},"enabled":{"type":"boolean"},"metrics":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"metric":{"type":"string","enum":["requestDuration"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"number","exclusiveMinimum":true,"minimum":0.01,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false},{"type":"object","properties":{"metric":{"type":"string","enum":["cpu","memory"]},"summary":{"type":"string","enum":["average"]},"value":{"type":"integer","exclusiveMinimum":true,"minimum":0,"maximum":100}},"required":["metric","summary","value"],"additionalProperties":false}]}}},"required":["maxReplicas","metrics"],"additionalProperties":false},"ports":{"type":"array","items":{"type":"number","minimum":1,"maximum":65535}}},"required":["machineType","ports"],"additionalProperties":false},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"readiness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]},"startup":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"exec":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string"}}},"required":["command"],"additionalProperties":false}},"required":["exec"],"additionalProperties":false}]}},"additionalProperties":false},"basicAuthKey":{"type":"string"}},"required":["apiVersion","image","name","resources"],"additionalProperties":false}],"nullable":true,"description":"The data for the deployment spec"},"deploymentId":{"type":"string","description":"The ID of the deployment the spec belongs to"},"externalApplied":{"type":"string","format":"date-time","nullable":true,"default":null,"description":"The date the deployment configuration was applied to the cluster"},"dtHealthy":{"type":"string","format":"date-time","nullable":true,"default":null,"description":"The date the deployment was marked \"healthy\""},"userId":{"type":"string","description":"The ID of the user the deployment belongs to"},"error":{"type":"string","nullable":true,"default":null,"description":"The fatal configuration error. Only present if the cluster was unable to apply the entire deployment configuration. This is not the same as an instance error."},"metadata":{"type":"object","properties":{"gitHeaders":{"type":"object","properties":{"x-git-host":{"anyOf":[{"type":"string","enum":["github"]},{"type":"string","enum":["gitlab"]}]},"x-git-actor":{"type":"string"},"x-git-sha":{"type":"string"},"x-git-ref":{"type":"string"},"x-git-owner":{"type":"string"},"x-git-repo":{"type":"string"}},"required":["x-git-host","x-git-actor","x-git-sha","x-git-ref","x-git-owner","x-git-repo"],"additionalProperties":false}},"additionalProperties":false,"description":"Metadata about the source of the configuration","nullable":true,"default":null}},"required":["id","deploymentId","userId"],"additionalProperties":false,"description":"The latest deployment configuration. If invalid, null is returned.","nullable":true,"default":null},"basicAuthKey":{"type":"string","nullable":true,"default":null,"description":"The endpoint security key for the deployment"}},"required":["name","id","projectId","teamId","endpoint","dtCreated"],"additionalProperties":false},"description":"The items on this page."}},"required":["hasMore","items"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}},"post":{"operationId":"deployments-upsert","summary":"Upsert a deployment","description":"Submit a new deployment configuration. If a deployment does not exist, one is created. Otherwise, a deployment is updated with new configuration.","tags":["Deployments"],"security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"deploymentId":{"type":"string","nullable":true,"default":null,"description":"The ID of the deployment to update."},"projectId":{"type":"string","description":"The project ID to deploy resources under."},"config":{"anyOf":[{"anyOf":[{"type":"object","properties":{"apiVersion":{"type":"string","enum":["v0alpha0"]},"command":{"type":"array","items":{"type":"string"}},"containerRegistry":{"type":"string"},"enabled":{"type":"boolean","default":true},"env":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}},"required":["name","value"],"additionalProperties":false}},"healthChecks":{"type":"object","properties":{"liveness":{"anyOf":[{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThreshold":{"type":"number","minimum":1,"maximum":1000},"path":{"type":"string","minLength":1},"host":{"type":"string"},"port":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":65535},"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"],"additionalProperties":false}}},"required":["path"],"additionalProperties":false},{"type":"object","properties":{"timeoutSeconds":{"type":"number","minimum":1,"maximum":1000},"initialDelaySeconds":{"type":"number","minimum":0,"maximum":1000},"periodSeconds":{"type":"number","minimum":1,"maximum":1000},"failureThr
[...]
