[Desktop Entry]
Name=Leroic
Comment=Managing and play games on Lutris
Exec=lutris-start.sh
Icon=lutris
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
Actions=Launch
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
X-XFCE-Source=file:///usr/share/applications/lutris.desktop
Path=
StartupNotify=false

[Desktop Action Launch]
Name=Launch
Exec=lutris