- name: Install Python3 and venv
  apt:
    name: 
      - python3
      - python3-venv
    state: present

- name: create Auto Stop directory
  file:
    path: /root/cloudypad-autostop
    state: directory

- name: Create Autostop Python virtual environment for autostop
  command: python3 -m venv /root/cloudypad-autostop/.venv
  args:
    creates: /root/cloudypad-autostop/.venv

- name: Copy Autostop requirements.txt
  register: autostop_requirements_copy
  copy:
    src: autostop/requirements.txt
    dest: /root/cloudypad-autostop/requirements.txt

- name: Copy Autostop script
  register: autostop_script_copy
  copy:
    src: autostop/src/autostop.py
    dest: /root/cloudypad-autostop/autostop.py
    mode: '0755'

- name: Install Autostop Python dependencies in virtual environment
  command: /root/cloudypad-autostop/.venv/bin/pip install -r /root/cloudypad-autostop/requirements.txt

- name: Create Autostop systemd service file for
  register: autostop_service_unit_copy
  copy:
    dest: /etc/systemd/system/cloudypad-autostop.service
    content: |
      [Unit]
      Description=Cloudypad Autostop Service
      After=network.target

      [Service]
      Environment=PYTHONUNBUFFERED=1
      Environment=CLOUDYPAD_AUTOSTOP_TIMEOUT={{ autostop_timeout_seconds }}
      ExecStart=/root/cloudypad-autostop/.venv/bin/python /root/cloudypad-autostop/autostop.py
      Restart=always
      User=root
      StandardOutput=journal
      StandardError=journal

      [Install]
      WantedBy=multi-user.target

- set_fact:
    should_reload_and_restart_autostop_service: "{{
      autostop_requirements_copy.changed or 
      autostop_script_copy.changed or 
      autostop_service_unit_copy.changed 
    }}"

- name: Reload systemd daemon
  command: systemctl daemon-reload
  when: should_reload_and_restart_autostop_service

- name: Manage cloudypad-autostop service
  systemd_service:
    name: cloudypad-autostop
    enabled: "{{ autostop_enable | bool }}"
    state: "{{ 
      'restarted' if autostop_enable and should_reload_and_restart_autostop_service else 
      'started' if autostop_enable | bool else 
      'stopped' 
    }}"
