[Desktop Entry]
Version=1.0
Type=Application
Exec=firefox https://docs.cloudypad.gg/help/moonlight-usage.html
Icon=help-contents
StartupNotify=false
Terminal=false
X-XFCE-MimeType=x-scheme-handler/http;x-scheme-handler/https;
X-AppStream-Ignore=True
Name=CloudyPad Help
Comment=Open help page in browser